<!DOCTYPE html>
<html>
<title>GYMY</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
.box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)}


</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-large w3-light-grey">
        <div class="w3-col s3">
            <a href="#" class="w3-button w3-block">Home</a>
        </div>

        <div class="w3-col s3">
            <a href="#plans" class="w3-button w3-block">Plans</a>
        </div>
    </div>
</div>

<!-- Content -->
<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">

    <div class="w3-panel">
        <h1><b>GYMY</b></h1>
        <h2>No más excusas.</h2>

    </div>

    <div class="w3-center w3-padding-64">

            <form class="w3-container w3-card-4 w3-light-grey" id='submit_params' method="POST" action="{{ url_for('main') }}">              
              <label>¿Por donde querés hacer ejercicio?</label> 
                <p>
                <input class="w3-input w3-border-0 w3-round-large" type="text"  placeholder="Ingresa una zona" id="input_usuario"
                            name="input_usuario" value="{{input_usuario}}"><br>
                </p>
                <p>
                    <div class="box" style="width:200px;">
                        <select class ="dropdown" name='dropdown'>
                            <option value="{{dropdown}}" selected>{{dropdown}}</option>
                            <option>Todas las categorías</option>
                            <option>Pesas</option>
                            <option>Crossfit</option>
                            <option>Funcional</option>
                            <option>Baile</option>
                            <option>Artes Marciales</option>
                            <option>Natación</option>
                            <option>Pilates</option>
                            <option>Yoga</option>
                            <option>Otros</option>
                        </select>

                      </div>

                </p>

                <p>
                    <button class="w3-button w3-black w3-round-large" type="submit">¡Buscame un gymy!</button>
                </p>

                <label>{{gyms_template}}</label>
            </form>

    </div>

</div>

{% extends mapatrue %} 
{% block content %}


<footer class="w3-container w3-padding-32 w3-light-grey w3-center">
    <h4>GYMY</h4>
    <a href="#" class="w3-button w3-black w3-margin"><i class="fa fa-arrow-up w3-margin-right"></i>Ir al inicio</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Find the github repo <a href="https://github.com/cateban" title="W3.CSS" target="_blank" class="w3-hover-text-green">here</a></p>
  </footer>

  {% endblock %}

</body>
</html>