<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c0b553f2eef448acbe8d2241446bbf79 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_c0b553f2eef448acbe8d2241446bbf79" ></div>
        
</body>
<script>    
    
            var map_c0b553f2eef448acbe8d2241446bbf79 = L.map(
                "map_c0b553f2eef448acbe8d2241446bbf79",
                {
                    center: [14.5847618, -90.5611083],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7b5c632a467c4576aa78b6137b224279 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_c0b553f2eef448acbe8d2241446bbf79);
        
    
            var marker_928a84edae4e4af2b241f5dc342cabfc = L.marker(
                [14.5847618, -90.5611083],
                {}
            ).addTo(map_c0b553f2eef448acbe8d2241446bbf79);
        
    
            var icon_54a4a784ab0a4b19b0f4638849a23b75 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_928a84edae4e4af2b241f5dc342cabfc.setIcon(icon_54a4a784ab0a4b19b0f4638849a23b75);
        
    
            marker_928a84edae4e4af2b241f5dc342cabfc.bindTooltip(
                `<div>
                     Location you chose: liceo javier guatemala 
 Guatemala, Villa Nueva
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06f195c2c1354a2d844f6e7865f89fc6 = L.marker(
                [14.567229999999999, -90.56008],
                {}
            ).addTo(map_c0b553f2eef448acbe8d2241446bbf79);
        
    
            var icon_446f7e9dde3a486795d74a51c70cacef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_06f195c2c1354a2d844f6e7865f89fc6.setIcon(icon_446f7e9dde3a486795d74a51c70cacef);
        
    
        var popup_29c5b5dd90324189b2c80c83b1ca9dcd = L.popup({"maxWidth": "100%"});

        
            var html_ee41d8bb45f14b799840772f4fc9b66f = $(`<div id="html_ee41d8bb45f14b799840772f4fc9b66f" style="width: 100.0%; height: 100.0%;">Telefono: 45220530  Direccion: 24 ave 47-64 zona 12 Prados de Monte Maria  Web: https://www.facebook.com/fightclub.guatemala</div>`)[0];
            popup_29c5b5dd90324189b2c80c83b1ca9dcd.setContent(html_ee41d8bb45f14b799840772f4fc9b66f);
        

        marker_06f195c2c1354a2d844f6e7865f89fc6.bindPopup(popup_29c5b5dd90324189b2c80c83b1ca9dcd)
        ;

        
    
    
            marker_06f195c2c1354a2d844f6e7865f89fc6.bindTooltip(
                `<div>
                     Fight Club
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_46bbfcc293ed4f74b1eeae3b48b5f0e1 = L.marker(
                [14.58745, -90.56182],
                {}
            ).addTo(map_c0b553f2eef448acbe8d2241446bbf79);
        
    
            var icon_4b5f6adbd43c4a8aae97f0b5e57a276a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_46bbfcc293ed4f74b1eeae3b48b5f0e1.setIcon(icon_4b5f6adbd43c4a8aae97f0b5e57a276a);
        
    
        var popup_4716cf92317c4a44a84a83b490fae94d = L.popup({"maxWidth": "100%"});

        
            var html_2d3a03a782174ceb87d458ff9f0dd217 = $(`<div id="html_2d3a03a782174ceb87d458ff9f0dd217" style="width: 100.0%; height: 100.0%;">Telefono: 24769841  Direccion: Calz. Aguilar Batres, 37-95 Zona 12  Web: https://www.facebook.com/xsportfitnesscenter</div>`)[0];
            popup_4716cf92317c4a44a84a83b490fae94d.setContent(html_2d3a03a782174ceb87d458ff9f0dd217);
        

        marker_46bbfcc293ed4f74b1eeae3b48b5f0e1.bindPopup(popup_4716cf92317c4a44a84a83b490fae94d)
        ;

        
    
    
            marker_46bbfcc293ed4f74b1eeae3b48b5f0e1.bindTooltip(
                `<div>
                     Xsport Fitness Center
                 </div>`,
                {"sticky": true}
            );
        
</script>