<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_79fd6997e2ec422b8ecfd0e54b01e189 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_79fd6997e2ec422b8ecfd0e54b01e189" ></div>
        
</body>
<script>    
    
            var map_79fd6997e2ec422b8ecfd0e54b01e189 = L.map(
                "map_79fd6997e2ec422b8ecfd0e54b01e189",
                {
                    center: [14.5989133, -90.5072073],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_424da896f9374cf69c7ebebe80854124 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var marker_7edb3d645a764ccfbd090ca7daa18f11 = L.marker(
                [14.5989133, -90.5072073],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_0317c461876d423abc39ec2e43050010 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_7edb3d645a764ccfbd090ca7daa18f11.setIcon(icon_0317c461876d423abc39ec2e43050010);
        
    
            marker_7edb3d645a764ccfbd090ca7daa18f11.bindTooltip(
                `<div>
                     Localidad solicitada: oakland mall guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6569e6929088417984bc69da4499abeb = L.marker(
                [14.5813049, -90.5052988],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_07677eb096b64c599db474f37fd6d82e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6569e6929088417984bc69da4499abeb.setIcon(icon_07677eb096b64c599db474f37fd6d82e);
        
    
        var popup_4e9a55ed28ce4e48ad479d901762149d = L.popup({"maxWidth": "100%"});

        
            var html_c65ee6d489b64c9ebefb397aef58f0f5 = $(`<div id="html_c65ee6d489b64c9ebefb397aef58f0f5" style="width: 100.0%; height: 100.0%;">Telefono: 2337-0980 Direccion: Plaza Las Cañas, Local 201, zona 10, Ciudad de Guatemala Ver mapa. Web: https://es-la.facebook.com/Rashidaacademy/</div>`)[0];
            popup_4e9a55ed28ce4e48ad479d901762149d.setContent(html_c65ee6d489b64c9ebefb397aef58f0f5);
        

        marker_6569e6929088417984bc69da4499abeb.bindPopup(popup_4e9a55ed28ce4e48ad479d901762149d)
        ;

        
    
    
            marker_6569e6929088417984bc69da4499abeb.bindTooltip(
                `<div>
                     Academia BellyDance Rashida
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02254dbfb3fb472796d526923e743a32 = L.marker(
                [14.5894785, -90.50922879999999],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_96d3a4cbfe7a433497fbd4425289db2d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_02254dbfb3fb472796d526923e743a32.setIcon(icon_96d3a4cbfe7a433497fbd4425289db2d);
        
    
        var popup_0231f6516a474316bfc2a7581e1f1459 = L.popup({"maxWidth": "100%"});

        
            var html_672b91ed6dab48ee933f0257bdfe961f = $(`<div id="html_672b91ed6dab48ee933f0257bdfe961f" style="width: 100.0%; height: 100.0%;">Telefono: #ubicacion Direccion: 19 Calle 12-34</div>`)[0];
            popup_0231f6516a474316bfc2a7581e1f1459.setContent(html_672b91ed6dab48ee933f0257bdfe961f);
        

        marker_02254dbfb3fb472796d526923e743a32.bindPopup(popup_0231f6516a474316bfc2a7581e1f1459)
        ;

        
    
    
            marker_02254dbfb3fb472796d526923e743a32.bindTooltip(
                `<div>
                     Academia de Baile Español Mary Farrington
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cf91d46d4fa1491ca0166f9a82b96d67 = L.marker(
                [14.597526, -90.510677],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_ee80676bbe694dcdbd9fa3f79698e2ce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cf91d46d4fa1491ca0166f9a82b96d67.setIcon(icon_ee80676bbe694dcdbd9fa3f79698e2ce);
        
    
        var popup_fb42bdfc30434659b71e9af2598b763b = L.popup({"maxWidth": "100%"});

        
            var html_ef37779e6d554da4b29cd59625c4ce03 = $(`<div id="html_ef37779e6d554da4b29cd59625c4ce03" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2363-6424 Direccion: 13 calle A 7-19 Centro Comercial Tiffany</div>`)[0];
            popup_fb42bdfc30434659b71e9af2598b763b.setContent(html_ef37779e6d554da4b29cd59625c4ce03);
        

        marker_cf91d46d4fa1491ca0166f9a82b96d67.bindPopup(popup_fb42bdfc30434659b71e9af2598b763b)
        ;

        
    
    
            marker_cf91d46d4fa1491ca0166f9a82b96d67.bindTooltip(
                `<div>
                     Active Mom
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_87b5672694344e31bb7072dc0a532b11 = L.marker(
                [14.592571, -90.5032818],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_b5070e1ea4f549f49cdd3b678d9cd2e7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_87b5672694344e31bb7072dc0a532b11.setIcon(icon_b5070e1ea4f549f49cdd3b678d9cd2e7);
        
    
        var popup_6f7a0f6819754b69942e224dfc5f8ab1 = L.popup({"maxWidth": "100%"});

        
            var html_35cf5cd1fb824ec080935ac43dce1484 = $(`<div id="html_35cf5cd1fb824ec080935ac43dce1484" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2369-0153 Direccion: 1 Calle 18-53  Vista Hermosa 2</div>`)[0];
            popup_6f7a0f6819754b69942e224dfc5f8ab1.setContent(html_35cf5cd1fb824ec080935ac43dce1484);
        

        marker_87b5672694344e31bb7072dc0a532b11.bindPopup(popup_6f7a0f6819754b69942e224dfc5f8ab1)
        ;

        
    
    
            marker_87b5672694344e31bb7072dc0a532b11.bindTooltip(
                `<div>
                     ADS Z15
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_def32834bfa84e37ae6bad75fca723c8 = L.marker(
                [14.5986908, -90.51756379999999],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_3004aae676234bb889c4b74dcc7d5e4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_def32834bfa84e37ae6bad75fca723c8.setIcon(icon_3004aae676234bb889c4b74dcc7d5e4d);
        
    
        var popup_81ed172c889d42038096c2d35a19c77e = L.popup({"maxWidth": "100%"});

        
            var html_dc44501a6a924a3b90424efcc4e5d0cd = $(`<div id="html_dc44501a6a924a3b90424efcc4e5d0cd" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2206 8000 Direccion: Dg 6 12-42 Zona 10 Design Center L 211 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=292</div>`)[0];
            popup_81ed172c889d42038096c2d35a19c77e.setContent(html_dc44501a6a924a3b90424efcc4e5d0cd);
        

        marker_def32834bfa84e37ae6bad75fca723c8.bindPopup(popup_81ed172c889d42038096c2d35a19c77e)
        ;

        
    
    
            marker_def32834bfa84e37ae6bad75fca723c8.bindTooltip(
                `<div>
                     Alive Smart Fitness
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_185c2becea6a4040857a01d7aa53fe58 = L.marker(
                [14.6054073, -90.51946290000001],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_603b4841c47647918f05a4764a4bf20f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_185c2becea6a4040857a01d7aa53fe58.setIcon(icon_603b4841c47647918f05a4764a4bf20f);
        
    
        var popup_ef46a4af89654204aee15206073b18c3 = L.popup({"maxWidth": "100%"});

        
            var html_83f9c9e596244d4b990f451a70424347 = $(`<div id="html_83f9c9e596244d4b990f451a70424347" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 3025-5117 Direccion: Diagonal 6 13-63 Zona 10 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=1374</div>`)[0];
            popup_ef46a4af89654204aee15206073b18c3.setContent(html_83f9c9e596244d4b990f451a70424347);
        

        marker_185c2becea6a4040857a01d7aa53fe58.bindPopup(popup_ef46a4af89654204aee15206073b18c3)
        ;

        
    
    
            marker_185c2becea6a4040857a01d7aa53fe58.bindTooltip(
                `<div>
                     Ananda Yoga Estudio
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a6ce900c31784239960addb782582c17 = L.marker(
                [14.6054073, -90.51946290000001],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_998c61c8f2764bf3955c5f36729c5727 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a6ce900c31784239960addb782582c17.setIcon(icon_998c61c8f2764bf3955c5f36729c5727);
        
    
        var popup_94521f13ea1c46838dcf68b79696ce82 = L.popup({"maxWidth": "100%"});

        
            var html_1344d7df78f74429b3c6e77af2fb9648 = $(`<div id="html_1344d7df78f74429b3c6e77af2fb9648" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 3025-5117 Direccion: Diagonal 6 13-63 Zona 10 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=1374</div>`)[0];
            popup_94521f13ea1c46838dcf68b79696ce82.setContent(html_1344d7df78f74429b3c6e77af2fb9648);
        

        marker_a6ce900c31784239960addb782582c17.bindPopup(popup_94521f13ea1c46838dcf68b79696ce82)
        ;

        
    
    
            marker_a6ce900c31784239960addb782582c17.bindTooltip(
                `<div>
                     Ananda Yoga Estudio
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_67e7bff9501f49fdaf0a2aa55e1a719e = L.marker(
                [14.609956400000002, -90.5009944],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_2eec980d4445461898b6aa40990ea894 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_67e7bff9501f49fdaf0a2aa55e1a719e.setIcon(icon_2eec980d4445461898b6aa40990ea894);
        
    
        var popup_6d21b6ce7add44a486256cdaae77544a = L.popup({"maxWidth": "100%"});

        
            var html_c093e198a8ff4d94a1506c47e03dbec3 = $(`<div id="html_c093e198a8ff4d94a1506c47e03dbec3" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2369 4468 Direccion: 3A Cl 16-15 Zona 15</div>`)[0];
            popup_6d21b6ce7add44a486256cdaae77544a.setContent(html_c093e198a8ff4d94a1506c47e03dbec3);
        

        marker_67e7bff9501f49fdaf0a2aa55e1a719e.bindPopup(popup_6d21b6ce7add44a486256cdaae77544a)
        ;

        
    
    
            marker_67e7bff9501f49fdaf0a2aa55e1a719e.bindTooltip(
                `<div>
                     Asociación De Pentatlon Moderno
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_03216972ac604873b064a1de8af56e3d = L.marker(
                [14.58954, -90.5163053],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_2bb98e53854a4f8eb90f199adada8b3e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_03216972ac604873b064a1de8af56e3d.setIcon(icon_2bb98e53854a4f8eb90f199adada8b3e);
        
    
        var popup_94c8cfbbc1514c29b97d86556bcebcfe = L.popup({"maxWidth": "100%"});

        
            var html_e10249d91563444db9906e934176cabe = $(`<div id="html_e10249d91563444db9906e934176cabe" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2363-6392 Direccion: 18 Calle 20-70 Zona 10</div>`)[0];
            popup_94c8cfbbc1514c29b97d86556bcebcfe.setContent(html_e10249d91563444db9906e934176cabe);
        

        marker_03216972ac604873b064a1de8af56e3d.bindPopup(popup_94c8cfbbc1514c29b97d86556bcebcfe)
        ;

        
    
    
            marker_03216972ac604873b064a1de8af56e3d.bindTooltip(
                `<div>
                     Bilanz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_86e4e6ec89e04bd6bb4b13e26fa101f4 = L.marker(
                [14.600984400000002, -90.5234301],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_ed2b26f5261d4e9f9df55f6260573abd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_86e4e6ec89e04bd6bb4b13e26fa101f4.setIcon(icon_ed2b26f5261d4e9f9df55f6260573abd);
        
    
        var popup_80b270270da140a2b5ccd254d183f3b3 = L.popup({"maxWidth": "100%"});

        
            var html_d85f231e42404cbe8d156be3035f2082 = $(`<div id="html_d85f231e42404cbe8d156be3035f2082" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2366 1712 Direccion: 12 Calle 1-25 Zona 10; Local 3</div>`)[0];
            popup_80b270270da140a2b5ccd254d183f3b3.setContent(html_d85f231e42404cbe8d156be3035f2082);
        

        marker_86e4e6ec89e04bd6bb4b13e26fa101f4.bindPopup(popup_80b270270da140a2b5ccd254d183f3b3)
        ;

        
    
    
            marker_86e4e6ec89e04bd6bb4b13e26fa101f4.bindTooltip(
                `<div>
                     Billar Club
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fdffa13571a14d48a1c0c3026f09ba4a = L.marker(
                [14.6092788, -90.4992235],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_a7acbfe6508c434aacbf9ae1bfbd259b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fdffa13571a14d48a1c0c3026f09ba4a.setIcon(icon_a7acbfe6508c434aacbf9ae1bfbd259b);
        
    
        var popup_7716841bdc9f451899caabfc27d65d62 = L.popup({"maxWidth": "100%"});

        
            var html_5abf0f4ab64c4c49be79072f6f48955e = $(`<div id="html_5abf0f4ab64c4c49be79072f6f48955e" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2333-9772 Direccion: Blvd. Landívar Zona 16 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=289</div>`)[0];
            popup_7716841bdc9f451899caabfc27d65d62.setContent(html_5abf0f4ab64c4c49be79072f6f48955e);
        

        marker_fdffa13571a14d48a1c0c3026f09ba4a.bindPopup(popup_7716841bdc9f451899caabfc27d65d62)
        ;

        
    
    
            marker_fdffa13571a14d48a1c0c3026f09ba4a.bindTooltip(
                `<div>
                     Boom Kettlebell Plaza Varietá
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3f70d787e18f40bf936ae3da2273b919 = L.marker(
                [14.5832395, -90.50881240000001],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_2abc2f500037460c8631c345b81f9736 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3f70d787e18f40bf936ae3da2273b919.setIcon(icon_2abc2f500037460c8631c345b81f9736);
        
    
        var popup_bd150601c8dc400281788eb7f0c22416 = L.popup({"maxWidth": "100%"});

        
            var html_e1f0d718a2694a968b174333da84e4a5 = $(`<div id="html_e1f0d718a2694a968b174333da84e4a5" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2339-5844 Direccion: Kilómetro 14.1 Carretera a El Salvador Centro Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=15126</div>`)[0];
            popup_bd150601c8dc400281788eb7f0c22416.setContent(html_e1f0d718a2694a968b174333da84e4a5);
        

        marker_3f70d787e18f40bf936ae3da2273b919.bindPopup(popup_bd150601c8dc400281788eb7f0c22416)
        ;

        
    
    
            marker_3f70d787e18f40bf936ae3da2273b919.bindTooltip(
                `<div>
                     Boom Kettlebell-Gym Carretera a El Salvador
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c0f0cb227c44687aff6fe1567d0d6a5 = L.marker(
                [14.5832395, -90.50881240000001],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_d9c56463a3bb41eda4b72b1f50661fc5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1c0f0cb227c44687aff6fe1567d0d6a5.setIcon(icon_d9c56463a3bb41eda4b72b1f50661fc5);
        
    
        var popup_7f44dae09f354cf5ab0b15804e1446c3 = L.popup({"maxWidth": "100%"});

        
            var html_e48a3e904f5445d99328a3dd8cb9ec04 = $(`<div id="html_e48a3e904f5445d99328a3dd8cb9ec04" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2337-3613 Direccion: Boulevard Los Próceres, Plaza Las Cañas, Sótano 1 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=15122</div>`)[0];
            popup_7f44dae09f354cf5ab0b15804e1446c3.setContent(html_e48a3e904f5445d99328a3dd8cb9ec04);
        

        marker_1c0f0cb227c44687aff6fe1567d0d6a5.bindPopup(popup_7f44dae09f354cf5ab0b15804e1446c3)
        ;

        
    
    
            marker_1c0f0cb227c44687aff6fe1567d0d6a5.bindTooltip(
                `<div>
                     Boom Kettlebell-Gym Zona 10
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b50e0bc5d70048389b4b7e8ecef15a3f = L.marker(
                [14.5832395, -90.50881240000001],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_7802dc8c6fee4c60a47e86f3bbf5f40c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b50e0bc5d70048389b4b7e8ecef15a3f.setIcon(icon_7802dc8c6fee4c60a47e86f3bbf5f40c);
        
    
        var popup_98fc1125129f4842a27727f7446dea08 = L.popup({"maxWidth": "100%"});

        
            var html_47a8d33d238140b0a860bb0c4c12960f = $(`<div id="html_47a8d33d238140b0a860bb0c4c12960f" style="width: 100.0%; height: 100.0%;">Telefono: 2441 9008 Direccion: Plaza Empresarial Muxbal, Santa Catarina Pinula Web: https://www.facebook.com/crossfitspringcity7/</div>`)[0];
            popup_98fc1125129f4842a27727f7446dea08.setContent(html_47a8d33d238140b0a860bb0c4c12960f);
        

        marker_b50e0bc5d70048389b4b7e8ecef15a3f.bindPopup(popup_98fc1125129f4842a27727f7446dea08)
        ;

        
    
    
            marker_b50e0bc5d70048389b4b7e8ecef15a3f.bindTooltip(
                `<div>
                     Brau Athletics CrossFit
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0dd2257606744b018277f4b8d6ef2fc1 = L.marker(
                [14.5872527, -90.5148594],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_e777d5c6395f4fc6a5926e3f8407a3d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0dd2257606744b018277f4b8d6ef2fc1.setIcon(icon_e777d5c6395f4fc6a5926e3f8407a3d1);
        
    
        var popup_4ccd8efffe6d421e998ae07aa1166525 = L.popup({"maxWidth": "100%"});

        
            var html_33222dc76c1d4254bff8a16025d8b089 = $(`<div id="html_33222dc76c1d4254bff8a16025d8b089" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2333 0037 Direccion: 2 Calle 15-95 Zona 13</div>`)[0];
            popup_4ccd8efffe6d421e998ae07aa1166525.setContent(html_33222dc76c1d4254bff8a16025d8b089);
        

        marker_0dd2257606744b018277f4b8d6ef2fc1.bindPopup(popup_4ccd8efffe6d421e998ae07aa1166525)
        ;

        
    
    
            marker_0dd2257606744b018277f4b8d6ef2fc1.bindTooltip(
                `<div>
                     Club Municipal
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ff2e806606674dd799af2e0deb0f4925 = L.marker(
                [14.6016793, -90.5243739],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_e2db0a2ff5064ac0907df07c710e1487 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ff2e806606674dd799af2e0deb0f4925.setIcon(icon_e2db0a2ff5064ac0907df07c710e1487);
        
    
        var popup_3db5e1695f45472d98cf0d9d5c02446e = L.popup({"maxWidth": "100%"});

        
            var html_833644238aa846bfa1c3e26a373a3669 = $(`<div id="html_833644238aa846bfa1c3e26a373a3669" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 5966-5906 Direccion: 1ra Avenida 11-50 zona 10 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=52188</div>`)[0];
            popup_3db5e1695f45472d98cf0d9d5c02446e.setContent(html_833644238aa846bfa1c3e26a373a3669);
        

        marker_ff2e806606674dd799af2e0deb0f4925.bindPopup(popup_3db5e1695f45472d98cf0d9d5c02446e)
        ;

        
    
    
            marker_ff2e806606674dd799af2e0deb0f4925.bindTooltip(
                `<div>
                     Core Yoga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_09d9bc78c66b4f82bc0110fc178ffd89 = L.marker(
                [14.598554199999999, -90.5150594],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_a16f3e42ee0542dbacd0a211a19df558 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_09d9bc78c66b4f82bc0110fc178ffd89.setIcon(icon_a16f3e42ee0542dbacd0a211a19df558);
        
    
        var popup_21a1cca3ebfd40bea6b4028f9f1763be = L.popup({"maxWidth": "100%"});

        
            var html_b52b6ba8b934464d8cc4fae94f6d20fd = $(`<div id="html_b52b6ba8b934464d8cc4fae94f6d20fd" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2367 2288 Direccion: 13 Cl 2Do Nivel Local 29 3-40 Zona 10</div>`)[0];
            popup_21a1cca3ebfd40bea6b4028f9f1763be.setContent(html_b52b6ba8b934464d8cc4fae94f6d20fd);
        

        marker_09d9bc78c66b4f82bc0110fc178ffd89.bindPopup(popup_21a1cca3ebfd40bea6b4028f9f1763be)
        ;

        
    
    
            marker_09d9bc78c66b4f82bc0110fc178ffd89.bindTooltip(
                `<div>
                     Cubana De Aviacion
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a4e356bf48c641bfbde74d03986cc4f1 = L.marker(
                [14.588174800000003, -90.49966979999999],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_0386147e6e9f491bb36fdf091277e6fa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a4e356bf48c641bfbde74d03986cc4f1.setIcon(icon_0386147e6e9f491bb36fdf091277e6fa);
        
    
        var popup_35d470d7e3ae46e8ab5b31a79c46fbf3 = L.popup({"maxWidth": "100%"});

        
            var html_3aae377107fe42a8ba81f1c6db6d40b3 = $(`<div id="html_3aae377107fe42a8ba81f1c6db6d40b3" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2369-2622 Direccion: 1a. Calle 22-13 Zona 15, Vista Hermosa II Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=1841</div>`)[0];
            popup_35d470d7e3ae46e8ab5b31a79c46fbf3.setContent(html_3aae377107fe42a8ba81f1c6db6d40b3);
        

        marker_a4e356bf48c641bfbde74d03986cc4f1.bindPopup(popup_35d470d7e3ae46e8ab5b31a79c46fbf3)
        ;

        
    
    
            marker_a4e356bf48c641bfbde74d03986cc4f1.bindTooltip(
                `<div>
                     Curves Zona 15
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d7fff95cdf5455fa85a4ecd57dc44c3 = L.marker(
                [14.582506900000002, -90.5060998],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_3ae1d3fb869f4b7fbf44ca8981feec1d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4d7fff95cdf5455fa85a4ecd57dc44c3.setIcon(icon_3ae1d3fb869f4b7fbf44ca8981feec1d);
        
    
        var popup_21cef73e4d284149a57f39996f089535 = L.popup({"maxWidth": "100%"});

        
            var html_a701ce5b6dd443e394c6bbcf31d826c0 = $(`<div id="html_a701ce5b6dd443e394c6bbcf31d826c0" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2366 5684 Direccion: 18 Calle 23-30 Zona 10 Plaza Decorisima Local 18 Web: http://www.dancestudio.com.gt</div>`)[0];
            popup_21cef73e4d284149a57f39996f089535.setContent(html_a701ce5b6dd443e394c6bbcf31d826c0);
        

        marker_4d7fff95cdf5455fa85a4ecd57dc44c3.bindPopup(popup_21cef73e4d284149a57f39996f089535)
        ;

        
    
    
            marker_4d7fff95cdf5455fa85a4ecd57dc44c3.bindTooltip(
                `<div>
                     Dance Studio
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8db98b9cf78c42928856a19185db8873 = L.marker(
                [14.602481900000003, -90.5221578],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_5c28b7962bd84835b67b0e08541309ae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8db98b9cf78c42928856a19185db8873.setIcon(icon_5c28b7962bd84835b67b0e08541309ae);
        
    
        var popup_0d804a06eef5444fa460300c06784a28 = L.popup({"maxWidth": "100%"});

        
            var html_58fccad9302841d19d33d8eb2f91b247 = $(`<div id="html_58fccad9302841d19d33d8eb2f91b247" style="width: 100.0%; height: 100.0%;">Telefono: TEL: 2214-0707 Direccion: 3ra ave 10-80 Zona 10 Edificio Forum Zona Viva Local 201 Web: https://dinamic.com.gt/</div>`)[0];
            popup_0d804a06eef5444fa460300c06784a28.setContent(html_58fccad9302841d19d33d8eb2f91b247);
        

        marker_8db98b9cf78c42928856a19185db8873.bindPopup(popup_0d804a06eef5444fa460300c06784a28)
        ;

        
    
    
            marker_8db98b9cf78c42928856a19185db8873.bindTooltip(
                `<div>
                     Dinamic Fitness - FORUM ZONA 10
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b32f6613f952474d9f41e54255a8b16e = L.marker(
                [14.6046467, -90.5096162],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_fc5e83b7c6ce4af4b835a98b7918567d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b32f6613f952474d9f41e54255a8b16e.setIcon(icon_fc5e83b7c6ce4af4b835a98b7918567d);
        
    
        var popup_fe2d1df72b0c4434bf943bf575c7337d = L.popup({"maxWidth": "100%"});

        
            var html_8e463adbb9bd48deb5ea9fa76f36d0bf = $(`<div id="html_8e463adbb9bd48deb5ea9fa76f36d0bf" style="width: 100.0%; height: 100.0%;">Telefono: 2369-5571 Direccion: Bulevar Vista Hermosa 2a. calle 14-85 zona 15, Ciudad de Guatemala Ver mapa. Web: https://es-la.facebook.com/Escuela-Cubana-de-Baile-110562958135/</div>`)[0];
            popup_fe2d1df72b0c4434bf943bf575c7337d.setContent(html_8e463adbb9bd48deb5ea9fa76f36d0bf);
        

        marker_b32f6613f952474d9f41e54255a8b16e.bindPopup(popup_fe2d1df72b0c4434bf943bf575c7337d)
        ;

        
    
    
            marker_b32f6613f952474d9f41e54255a8b16e.bindTooltip(
                `<div>
                     Escuela Cubana de Baile
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca01c00f25ce4ab6b5ea3c5638f8d1c3 = L.marker(
                [14.602557699999998, -90.50614499999999],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_8a833a5582ed4d1393153df2c94dd6aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ca01c00f25ce4ab6b5ea3c5638f8d1c3.setIcon(icon_8a833a5582ed4d1393153df2c94dd6aa);
        
    
        var popup_cd6b65847434456cad471f31a5ca9d24 = L.popup({"maxWidth": "100%"});

        
            var html_0c92f0a241c74c53a941ac24b11608d3 = $(`<div id="html_0c92f0a241c74c53a941ac24b11608d3" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2369 8771 Direccion: 3 Calle 16-75 Zona 15 Colonia Minerva</div>`)[0];
            popup_cd6b65847434456cad471f31a5ca9d24.setContent(html_0c92f0a241c74c53a941ac24b11608d3);
        

        marker_ca01c00f25ce4ab6b5ea3c5638f8d1c3.bindPopup(popup_cd6b65847434456cad471f31a5ca9d24)
        ;

        
    
    
            marker_ca01c00f25ce4ab6b5ea3c5638f8d1c3.bindTooltip(
                `<div>
                     Fed. Nac. De Tenis De Campo De Guatemala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02635040e96f42f5819a2b431a8b1776 = L.marker(
                [14.602700599999999, -90.5082685],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_8daddf7af182464fb41ba96746835270 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_02635040e96f42f5819a2b431a8b1776.setIcon(icon_8daddf7af182464fb41ba96746835270);
        
    
        var popup_7af21cca83e54a51a34a1e713cefbb57 = L.popup({"maxWidth": "100%"});

        
            var html_f09781cd36f14ad488ce7fd2f86beb70 = $(`<div id="html_f09781cd36f14ad488ce7fd2f86beb70" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2422 7777 Direccion: 2 Cl 15-57 Zona 15</div>`)[0];
            popup_7af21cca83e54a51a34a1e713cefbb57.setContent(html_f09781cd36f14ad488ce7fd2f86beb70);
        

        marker_02635040e96f42f5819a2b431a8b1776.bindPopup(popup_7af21cca83e54a51a34a1e713cefbb57)
        ;

        
    
    
            marker_02635040e96f42f5819a2b431a8b1776.bindTooltip(
                `<div>
                     Federacion Nacional De Futbol
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fe908fe255614aec9de2743c890001cf = L.marker(
                [14.595449300000002, -90.5046926],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_b7ea84c4a1e64bbabe97a112b9a3dc6d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fe908fe255614aec9de2743c890001cf.setIcon(icon_b7ea84c4a1e64bbabe97a112b9a3dc6d);
        
    
        var popup_5553b50affc14c8b8d8ff6dc80350b8b = L.popup({"maxWidth": "100%"});

        
            var html_f0e36ee93755466abb6f73621583ebbd = $(`<div id="html_f0e36ee93755466abb6f73621583ebbd" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2334-5315 Direccion: Avenida Las Américas 14-28 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=513</div>`)[0];
            popup_5553b50affc14c8b8d8ff6dc80350b8b.setContent(html_f0e36ee93755466abb6f73621583ebbd);
        

        marker_fe908fe255614aec9de2743c890001cf.bindPopup(popup_5553b50affc14c8b8d8ff6dc80350b8b)
        ;

        
    
    
            marker_fe908fe255614aec9de2743c890001cf.bindTooltip(
                `<div>
                     FemmeFit Américas
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_56308d343db3490689d061bc08d92b33 = L.marker(
                [14.6010065, -90.5072849],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_ced42d11daa14030b3b8c8d43ff7ee5a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_56308d343db3490689d061bc08d92b33.setIcon(icon_ced42d11daa14030b3b8c8d43ff7ee5a);
        
    
        var popup_bd4de0255037413b967f34c87709c374 = L.popup({"maxWidth": "100%"});

        
            var html_79b8434c33254a729f005c0e1ebcf6cc = $(`<div id="html_79b8434c33254a729f005c0e1ebcf6cc" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2243 2424 Direccion: Cl 2 Bul Vista Hermosa 15-93 Zona 15 Web: http://www.metrobowl.com.gt</div>`)[0];
            popup_bd4de0255037413b967f34c87709c374.setContent(html_79b8434c33254a729f005c0e1ebcf6cc);
        

        marker_56308d343db3490689d061bc08d92b33.bindPopup(popup_bd4de0255037413b967f34c87709c374)
        ;

        
    
    
            marker_56308d343db3490689d061bc08d92b33.bindTooltip(
                `<div>
                     Metro Bowl
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4015023f2ad345a497dfc598cfb1243b = L.marker(
                [14.5860981, -90.4960992],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_5098744b3efb48f2bf486abd8ee9347b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_4015023f2ad345a497dfc598cfb1243b.setIcon(icon_5098744b3efb48f2bf486abd8ee9347b);
        
    
        var popup_6b011ca028234ff58e2c8d6adae24252 = L.popup({"maxWidth": "100%"});

        
            var html_2ee5223bbd414d7794216fa47f127797 = $(`<div id="html_2ee5223bbd414d7794216fa47f127797" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2333-4310 Direccion: 6ta. Avenida 20-42 zona 10 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=260</div>`)[0];
            popup_6b011ca028234ff58e2c8d6adae24252.setContent(html_2ee5223bbd414d7794216fa47f127797);
        

        marker_4015023f2ad345a497dfc598cfb1243b.bindPopup(popup_6b011ca028234ff58e2c8d6adae24252)
        ;

        
    
    
            marker_4015023f2ad345a497dfc598cfb1243b.bindTooltip(
                `<div>
                     OM Yoga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7878aa1597ae4e1985162ddc18e64ebc = L.marker(
                [14.590272699999998, -90.52157779999999],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_d5786e0919be4d008686ba9b23d69e69 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7878aa1597ae4e1985162ddc18e64ebc.setIcon(icon_d5786e0919be4d008686ba9b23d69e69);
        
    
        var popup_ae0f2dbb58254662a0a5309c7694f40c = L.popup({"maxWidth": "100%"});

        
            var html_d29345eede31442590390d0ab31e6bd6 = $(`<div id="html_d29345eede31442590390d0ab31e6bd6" style="width: 100.0%; height: 100.0%;"> Direccion: Design Center</div>`)[0];
            popup_ae0f2dbb58254662a0a5309c7694f40c.setContent(html_d29345eede31442590390d0ab31e6bd6);
        

        marker_7878aa1597ae4e1985162ddc18e64ebc.bindPopup(popup_ae0f2dbb58254662a0a5309c7694f40c)
        ;

        
    
    
            marker_7878aa1597ae4e1985162ddc18e64ebc.bindTooltip(
                `<div>
                     OM Yoga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_45f0347d22ae40e989693329cb8b3cf1 = L.marker(
                [14.5835608, -90.4980488],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_5ac60aa1f146466f9f95521685ffaf88 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_45f0347d22ae40e989693329cb8b3cf1.setIcon(icon_5ac60aa1f146466f9f95521685ffaf88);
        
    
        var popup_0be59b224a81408b878b91b54cd2ba0c = L.popup({"maxWidth": "100%"});

        
            var html_949bc8ac6c2149aaa0516138a2ccfa60 = $(`<div id="html_949bc8ac6c2149aaa0516138a2ccfa60" style="width: 100.0%; height: 100.0%;">Telefono: (+502) 2337 1283 Direccion: Cl 16 22-40 Z 10</div>`)[0];
            popup_0be59b224a81408b878b91b54cd2ba0c.setContent(html_949bc8ac6c2149aaa0516138a2ccfa60);
        

        marker_45f0347d22ae40e989693329cb8b3cf1.bindPopup(popup_0be59b224a81408b878b91b54cd2ba0c)
        ;

        
    
    
            marker_45f0347d22ae40e989693329cb8b3cf1.bindTooltip(
                `<div>
                     Pilates Powerhouse Studio
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0623ff588bcd4a519d0dd48a9b4c019c = L.marker(
                [14.586698199999999, -90.4969745],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_8a23c7ef77484181908ebdfcbb28ef06 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0623ff588bcd4a519d0dd48a9b4c019c.setIcon(icon_8a23c7ef77484181908ebdfcbb28ef06);
        
    
        var popup_aa8b5814f36245bba46b5ca72f66b409 = L.popup({"maxWidth": "100%"});

        
            var html_362681410dcf4757badf7846b295507a = $(`<div id="html_362681410dcf4757badf7846b295507a" style="width: 100.0%; height: 100.0%;">Telefono: Teléfonos: 2277-9296 y 2369-1018 Direccion: Boulevard Vista Hermosa 21-95 zona 15 Web: https://www.scandinaviagym.com/</div>`)[0];
            popup_aa8b5814f36245bba46b5ca72f66b409.setContent(html_362681410dcf4757badf7846b295507a);
        

        marker_0623ff588bcd4a519d0dd48a9b4c019c.bindPopup(popup_aa8b5814f36245bba46b5ca72f66b409)
        ;

        
    
    
            marker_0623ff588bcd4a519d0dd48a9b4c019c.bindTooltip(
                `<div>
                     Scandinavia - Vista Hermosa
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e9a9d52ed7f4957bd10724937825425 = L.marker(
                [14.5941907, -90.5176285],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_918db8fe096645c9bd68104d09d51bf1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3e9a9d52ed7f4957bd10724937825425.setIcon(icon_918db8fe096645c9bd68104d09d51bf1);
        
    
        var popup_0c150c6d026643558a54e7d4ba4db9eb = L.popup({"maxWidth": "100%"});

        
            var html_9abd87c48da44342b1583a977b541c2c = $(`<div id="html_9abd87c48da44342b1583a977b541c2c" style="width: 100.0%; height: 100.0%;">Telefono: 2366 5836 Direccion: 9a. avenida 16-03, Zona 10 Web: https://www.facebook.com/amsicrossfit/</div>`)[0];
            popup_0c150c6d026643558a54e7d4ba4db9eb.setContent(html_9abd87c48da44342b1583a977b541c2c);
        

        marker_3e9a9d52ed7f4957bd10724937825425.bindPopup(popup_0c150c6d026643558a54e7d4ba4db9eb)
        ;

        
    
    
            marker_3e9a9d52ed7f4957bd10724937825425.bindTooltip(
                `<div>
                     Sense CrossFit
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c184f7034f1d46509a20e1aa51f43646 = L.marker(
                [14.5948416, -90.5244171],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_7b0160c8cc9c4261894ca2a1bf92c63b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c184f7034f1d46509a20e1aa51f43646.setIcon(icon_7b0160c8cc9c4261894ca2a1bf92c63b);
        
    
        var popup_197961d67a664a6faeeb7881264900fb = L.popup({"maxWidth": "100%"});

        
            var html_21c2189fb0ee4e2d95e0941d704aabb4 = $(`<div id="html_21c2189fb0ee4e2d95e0941d704aabb4" style="width: 100.0%; height: 100.0%;"> Direccion:   3ª Avenida 16-52, Z.10 -  Centro Comercial Los Próceres Ciudad de Guatemala, GU - Guatemala Web: https://www.smartfit.com.gt/</div>`)[0];
            popup_197961d67a664a6faeeb7881264900fb.setContent(html_21c2189fb0ee4e2d95e0941d704aabb4);
        

        marker_c184f7034f1d46509a20e1aa51f43646.bindPopup(popup_197961d67a664a6faeeb7881264900fb)
        ;

        
    
    
            marker_c184f7034f1d46509a20e1aa51f43646.bindTooltip(
                `<div>
                     Smart Fit - Los Próceres
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_68f5f952bc62440380ede7f2cd79eeee = L.marker(
                [14.610574800000002, -90.4942138],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_ce59df98d5a74334820aaebcff3a4b17 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_68f5f952bc62440380ede7f2cd79eeee.setIcon(icon_ce59df98d5a74334820aaebcff3a4b17);
        
    
        var popup_2dad3987e4a14afbbdbb7893abf0d510 = L.popup({"maxWidth": "100%"});

        
            var html_1539c31c8518485ab786da58cc79dc11 = $(`<div id="html_1539c31c8518485ab786da58cc79dc11" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2493-7666 Direccion: Blvd. Rafael Landivar, 10-05 Zona 16 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=744</div>`)[0];
            popup_2dad3987e4a14afbbdbb7893abf0d510.setContent(html_1539c31c8518485ab786da58cc79dc11);
        

        marker_68f5f952bc62440380ede7f2cd79eeee.bindPopup(popup_2dad3987e4a14afbbdbb7893abf0d510)
        ;

        
    
    
            marker_68f5f952bc62440380ede7f2cd79eeee.bindTooltip(
                `<div>
                     The Fit Center
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_114f52d9136a4540b616c193960a6c25 = L.marker(
                [14.5814489, -90.5051898],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_fa1fa7f07cdf41f49117ba82502082a5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_114f52d9136a4540b616c193960a6c25.setIcon(icon_fa1fa7f07cdf41f49117ba82502082a5);
        
    
        var popup_9aa918482bb14ac5a4bf0a8e1e8e9734 = L.popup({"maxWidth": "100%"});

        
            var html_45d26244bcc442e0a0595d4bc5550fd8 = $(`<div id="html_45d26244bcc442e0a0595d4bc5550fd8" style="width: 100.0%; height: 100.0%;">Telefono: 2366-7892 | 2366-7893 Direccion: Bulevar Los Próceres, 24-24 zona 10 C. C. Las Cañas, Ciudad de Guatemala Ver mapa. Web: https://unlimited-dance.com.gt/</div>`)[0];
            popup_9aa918482bb14ac5a4bf0a8e1e8e9734.setContent(html_45d26244bcc442e0a0595d4bc5550fd8);
        

        marker_114f52d9136a4540b616c193960a6c25.bindPopup(popup_9aa918482bb14ac5a4bf0a8e1e8e9734)
        ;

        
    
    
            marker_114f52d9136a4540b616c193960a6c25.bindTooltip(
                `<div>
                     Unlimited Dance Academy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_91972abff1d84f93a8cbdeeaf669b5b3 = L.marker(
                [14.606585, -90.51888149999999],
                {}
            ).addTo(map_79fd6997e2ec422b8ecfd0e54b01e189);
        
    
            var icon_2102d51d8e614a1faa4e4a730db649e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_91972abff1d84f93a8cbdeeaf669b5b3.setIcon(icon_2102d51d8e614a1faa4e4a730db649e0);
        
    
        var popup_a47159269c2f467faf4065b1ed4d5883 = L.popup({"maxWidth": "100%"});

        
            var html_eb044c88ab394eeea6378fca4c7eab2b = $(`<div id="html_eb044c88ab394eeea6378fca4c7eab2b" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 2278-9325 Direccion: 6a. Avenida 6-63 Zona 10 Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=1212</div>`)[0];
            popup_a47159269c2f467faf4065b1ed4d5883.setContent(html_eb044c88ab394eeea6378fca4c7eab2b);
        

        marker_91972abff1d84f93a8cbdeeaf669b5b3.bindPopup(popup_a47159269c2f467faf4065b1ed4d5883)
        ;

        
    
    
            marker_91972abff1d84f93a8cbdeeaf669b5b3.bindTooltip(
                `<div>
                     Xtream Gym
                 </div>`,
                {"sticky": true}
            );
        
</script>
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}
{% block content %} {% endblock %}