<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bb24d3674abd4496b9f1bccb2e3cdd15 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bb24d3674abd4496b9f1bccb2e3cdd15" ></div>
        
</body>
<script>    
    
            var map_bb24d3674abd4496b9f1bccb2e3cdd15 = L.map(
                "map_bb24d3674abd4496b9f1bccb2e3cdd15",
                {
                    center: [14.5014303, -90.4886139],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_54f0680571a04ade808926b7d408c1ad = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bb24d3674abd4496b9f1bccb2e3cdd15);
        
    
            var marker_3bd7313416ce417ea3b12c7122e5820c = L.marker(
                [14.5014303, -90.4886139],
                {}
            ).addTo(map_bb24d3674abd4496b9f1bccb2e3cdd15);
        
    
            var icon_9992cb13c83946d28369f28436efedd9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3bd7313416ce417ea3b12c7122e5820c.setIcon(icon_9992cb13c83946d28369f28436efedd9);
        
    
            marker_3bd7313416ce417ea3b12c7122e5820c.bindTooltip(
                `<div>
                     Localidad solicitada: oakland mall guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5b4d87a2fa344cc8651f4f958de3510 = L.marker(
                [14.49796, -90.48129],
                {}
            ).addTo(map_bb24d3674abd4496b9f1bccb2e3cdd15);
        
    
            var icon_55e4ed2ec6974387b91f735b779e2f29 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a5b4d87a2fa344cc8651f4f958de3510.setIcon(icon_55e4ed2ec6974387b91f735b779e2f29);
        
    
        var popup_0efb7f750ca848a485a00290f1e6deb8 = L.popup({"maxWidth": "100%"});

        
            var html_d3cf07dbbc9348a6a2155bfa4d446a4d = $(`<div id="html_d3cf07dbbc9348a6a2155bfa4d446a4d" style="width: 100.0%; height: 100.0%;">Telefono: 66625087 Direccion: Km. 22.5 Carretera a El Salvador. Portal del Bosque Web: https://www.180gradosfitness.com/</div>`)[0];
            popup_0efb7f750ca848a485a00290f1e6deb8.setContent(html_d3cf07dbbc9348a6a2155bfa4d446a4d);
        

        marker_a5b4d87a2fa344cc8651f4f958de3510.bindPopup(popup_0efb7f750ca848a485a00290f1e6deb8)
        ;

        
    
    
            marker_a5b4d87a2fa344cc8651f4f958de3510.bindTooltip(
                `<div>
                     180 Grados Fitness
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9e9484860aff4cbbaab7a41657b9ce0b = L.marker(
                [14.496260000000001, -90.48148],
                {}
            ).addTo(map_bb24d3674abd4496b9f1bccb2e3cdd15);
        
    
            var icon_1c240743e96644d2b3c526feb31b1894 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9e9484860aff4cbbaab7a41657b9ce0b.setIcon(icon_1c240743e96644d2b3c526feb31b1894);
        
    
        var popup_cbb0369f45b04bac8084a8e22eda22b3 = L.popup({"maxWidth": "100%"});

        
            var html_9074973801f64dea859e806ca9689eed = $(`<div id="html_9074973801f64dea859e806ca9689eed" style="width: 100.0%; height: 100.0%;">Telefono: 23665684 Direccion: Deco City, Guatemala Web: https://www.facebook.com/dancestudioguatemala/</div>`)[0];
            popup_cbb0369f45b04bac8084a8e22eda22b3.setContent(html_9074973801f64dea859e806ca9689eed);
        

        marker_9e9484860aff4cbbaab7a41657b9ce0b.bindPopup(popup_cbb0369f45b04bac8084a8e22eda22b3)
        ;

        
    
    
            marker_9e9484860aff4cbbaab7a41657b9ce0b.bindTooltip(
                `<div>
                     Dance Studio
                 </div>`,
                {"sticky": true}
            );
        
</script>