<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5c880aeefc3c482b9f4f4fd5899211b2 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_5c880aeefc3c482b9f4f4fd5899211b2" ></div>
        
</body>
<script>    
    
            var map_5c880aeefc3c482b9f4f4fd5899211b2 = L.map(
                "map_5c880aeefc3c482b9f4f4fd5899211b2",
                {
                    center: [14.5014303, -90.4886139],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fd7b31a26b1d404b947433f9a969ba65 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5c880aeefc3c482b9f4f4fd5899211b2);
        
    
            var marker_a9c6ebd669214511b93e762f4cf9ab91 = L.marker(
                [14.5014303, -90.4886139],
                {}
            ).addTo(map_5c880aeefc3c482b9f4f4fd5899211b2);
        
    
            var icon_1ca6bbc9101b4b87aeb89cb1bac55966 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_a9c6ebd669214511b93e762f4cf9ab91.setIcon(icon_1ca6bbc9101b4b87aeb89cb1bac55966);
        
    
            marker_a9c6ebd669214511b93e762f4cf9ab91.bindTooltip(
                `<div>
                     Localidad solicitada: oakland mall guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f50e95189fe34864850b809993b6054f = L.marker(
                [14.5014303, -90.4886139],
                {}
            ).addTo(map_5c880aeefc3c482b9f4f4fd5899211b2);
        
    
            var icon_1181d27af61c4e13b7e7b68ef4f402e3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f50e95189fe34864850b809993b6054f.setIcon(icon_1181d27af61c4e13b7e7b68ef4f402e3);
        
    
        var popup_65541c4bf0d745268db22fbe8f3bfb00 = L.popup({"maxWidth": "100%"});

        
            var html_af719fb4ec9743ca928c613fca94c250 = $(`<div id="html_af719fb4ec9743ca928c613fca94c250" style="width: 100.0%; height: 100.0%;">Telefono: tel:+(502) 6662-5087 Direccion: Km. 22.5 Carretera a El Salvador Web: https://directorio.guatemala.com/listing_reports.php?report=website&id=2228</div>`)[0];
            popup_65541c4bf0d745268db22fbe8f3bfb00.setContent(html_af719fb4ec9743ca928c613fca94c250);
        

        marker_f50e95189fe34864850b809993b6054f.bindPopup(popup_65541c4bf0d745268db22fbe8f3bfb00)
        ;

        
    
    
            marker_f50e95189fe34864850b809993b6054f.bindTooltip(
                `<div>
                     180 Grados Fitness
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_541d9eba0f224eadbd34d78299795df3 = L.marker(
                [14.516922400000002, -90.4841287],
                {}
            ).addTo(map_5c880aeefc3c482b9f4f4fd5899211b2);
        
    
            var icon_8a5f9d7505de45489d29abe6ba31422c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_541d9eba0f224eadbd34d78299795df3.setIcon(icon_8a5f9d7505de45489d29abe6ba31422c);
        
    
        var popup_dc411c950bb144129ba621c59ba0628c = L.popup({"maxWidth": "100%"});

        
            var html_6c4fc06b031f4af48b0b0abb59ee1eda = $(`<div id="html_6c4fc06b031f4af48b0b0abb59ee1eda" style="width: 100.0%; height: 100.0%;"> Direccion: Carretera al Salvador</div>`)[0];
            popup_dc411c950bb144129ba621c59ba0628c.setContent(html_6c4fc06b031f4af48b0b0abb59ee1eda);
        

        marker_541d9eba0f224eadbd34d78299795df3.bindPopup(popup_dc411c950bb144129ba621c59ba0628c)
        ;

        
    
    
            marker_541d9eba0f224eadbd34d78299795df3.bindTooltip(
                `<div>
                     Studio Fitness
                 </div>`,
                {"sticky": true}
            );
        
</script>