<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4a57be38891c4efc9149c5fdb220dc71 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4a57be38891c4efc9149c5fdb220dc71" ></div>
        
</body>
<script>    
    
            var map_4a57be38891c4efc9149c5fdb220dc71 = L.map(
                "map_4a57be38891c4efc9149c5fdb220dc71",
                {
                    center: [14.5014303, -90.4886139],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_87c7008edda4468bafad5f4b2dcb92de = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4a57be38891c4efc9149c5fdb220dc71);
        
    
            var marker_857a1db55c4f4cbdb303f5f537123bb8 = L.marker(
                [14.5014303, -90.4886139],
                {}
            ).addTo(map_4a57be38891c4efc9149c5fdb220dc71);
        
    
            var icon_e36c893132874675a9ea7460572891ee = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_857a1db55c4f4cbdb303f5f537123bb8.setIcon(icon_e36c893132874675a9ea7460572891ee);
        
    
            marker_857a1db55c4f4cbdb303f5f537123bb8.bindTooltip(
                `<div>
                     Localidad solicitada: oakland mall guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_90ae4979e9cb495d975470ac4d3184e8 = L.marker(
                [14.49796, -90.48129],
                {}
            ).addTo(map_4a57be38891c4efc9149c5fdb220dc71);
        
    
            var icon_4228b2f9d3584aa9a0617d3ebb2f62dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_90ae4979e9cb495d975470ac4d3184e8.setIcon(icon_4228b2f9d3584aa9a0617d3ebb2f62dd);
        
    
        var popup_247454154e604bed80cee2a2280cf3b1 = L.popup({"maxWidth": "100%"});

        
            var html_052fb453dfdc4eb5961818ffc0f4d664 = $(`<div id="html_052fb453dfdc4eb5961818ffc0f4d664" style="width: 100.0%; height: 100.0%;">Telefono: 66625087 Direccion: Km. 22.5 Carretera a El Salvador. Portal del Bosque Web: https://www.180gradosfitness.com/</div>`)[0];
            popup_247454154e604bed80cee2a2280cf3b1.setContent(html_052fb453dfdc4eb5961818ffc0f4d664);
        

        marker_90ae4979e9cb495d975470ac4d3184e8.bindPopup(popup_247454154e604bed80cee2a2280cf3b1)
        ;

        
    
    
            marker_90ae4979e9cb495d975470ac4d3184e8.bindTooltip(
                `<div>
                     180 Grados Fitness
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f451e534565a4cf5b357c0bc14c4bb0b = L.marker(
                [14.496260000000001, -90.48148],
                {}
            ).addTo(map_4a57be38891c4efc9149c5fdb220dc71);
        
    
            var icon_86da593e2f4b418cbb59981b02b93370 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f451e534565a4cf5b357c0bc14c4bb0b.setIcon(icon_86da593e2f4b418cbb59981b02b93370);
        
    
        var popup_358ce4dbea314866b75e37f0bd20c1c1 = L.popup({"maxWidth": "100%"});

        
            var html_5365520c5a9c44879bbf76dc4616fe82 = $(`<div id="html_5365520c5a9c44879bbf76dc4616fe82" style="width: 100.0%; height: 100.0%;">Telefono: 23665684 Direccion: Deco City, Guatemala Web: https://www.facebook.com/dancestudioguatemala/</div>`)[0];
            popup_358ce4dbea314866b75e37f0bd20c1c1.setContent(html_5365520c5a9c44879bbf76dc4616fe82);
        

        marker_f451e534565a4cf5b357c0bc14c4bb0b.bindPopup(popup_358ce4dbea314866b75e37f0bd20c1c1)
        ;

        
    
    
            marker_f451e534565a4cf5b357c0bc14c4bb0b.bindTooltip(
                `<div>
                     Dance Studio
                 </div>`,
                {"sticky": true}
            );
        
</script>
{% block content %} {% endblock %}