<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e6e24db8adcf4496b586329e582a383d {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e6e24db8adcf4496b586329e582a383d" ></div>
        
</body>
<script>    
    
            var map_e6e24db8adcf4496b586329e582a383d = L.map(
                "map_e6e24db8adcf4496b586329e582a383d",
                {
                    center: [14.6624376, -90.5058132],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_b16ee56623204802afc19d9a137e0b1e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e6e24db8adcf4496b586329e582a383d);
        
    
            var marker_c8d2c89e75ea4216ae11569915510ee1 = L.marker(
                [14.6624376, -90.5058132],
                {}
            ).addTo(map_e6e24db8adcf4496b586329e582a383d);
        
    
            var icon_186111988b86422e8a5726543c4c0ed0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c8d2c89e75ea4216ae11569915510ee1.setIcon(icon_186111988b86422e8a5726543c4c0ed0);
        
    
            marker_c8d2c89e75ea4216ae11569915510ee1.bindTooltip(
                `<div>
                     Location you chose: zona 2 guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_db44a6455a384e5b9159f2d20fcfecda = L.marker(
                [14.65151, -90.51018],
                {}
            ).addTo(map_e6e24db8adcf4496b586329e582a383d);
        
    
            var icon_b1bed910dd1e46be861e4c31c720f4c8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_db44a6455a384e5b9159f2d20fcfecda.setIcon(icon_b1bed910dd1e46be861e4c31c720f4c8);
        
    
        var popup_159ef43b7a2243c996e01514ef4b8056 = L.popup({"maxWidth": 2650});

        
            var i_frame_84386438135140daadaeb517644309bb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkV2b2x1dGlvbiBHeW08L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjUwMzY4Njg8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiBDYWxsZSBNYXJ0w60sIDhhIEF2IHpvbmEgMjwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2V2b2x1dGlvbmVuZXJneW0vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+UGVzYXM8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_159ef43b7a2243c996e01514ef4b8056.setContent(i_frame_84386438135140daadaeb517644309bb);
        

        marker_db44a6455a384e5b9159f2d20fcfecda.bindPopup(popup_159ef43b7a2243c996e01514ef4b8056)
        ;

        
    
    
            marker_db44a6455a384e5b9159f2d20fcfecda.bindTooltip(
                `<div>
                     Evolution Gym
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_c37ecb1e011543759bc7b4126933f8a2 = L.marker(
                [14.64615, -90.50867],
                {}
            ).addTo(map_e6e24db8adcf4496b586329e582a383d);
        
    
            var icon_19c19df6e4fa4403981ccde917579927 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c37ecb1e011543759bc7b4126933f8a2.setIcon(icon_19c19df6e4fa4403981ccde917579927);
        
    
        var popup_c2d3864ba4e946fbae6badd9eb2e3f14 = L.popup({"maxWidth": 2650});

        
            var i_frame_3a4322f724c64ee4bed2939ec76378c9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkZ1bGwgQ29udGFjdCBTdHVkaW88L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjIzMjY1NzU8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiAyIENhbGxlIDEwLTA2IFpvbmEgMTwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL0Z1bGxDb250YWN0U3R1ZGlvLzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+Q2F0ZWdvcsOtYXM6PC9iPlBlc2FzPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_c2d3864ba4e946fbae6badd9eb2e3f14.setContent(i_frame_3a4322f724c64ee4bed2939ec76378c9);
        

        marker_c37ecb1e011543759bc7b4126933f8a2.bindPopup(popup_c2d3864ba4e946fbae6badd9eb2e3f14)
        ;

        
    
    
            marker_c37ecb1e011543759bc7b4126933f8a2.bindTooltip(
                `<div>
                     Full Contact Studio
                 </div>`,
                {"sticky": true}
            );
        
</script>