<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_56a4a10a091a4d2aa2c8afe5fac58a04 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_56a4a10a091a4d2aa2c8afe5fac58a04" ></div>
        
</body>
<script>    
    
            var map_56a4a10a091a4d2aa2c8afe5fac58a04 = L.map(
                "map_56a4a10a091a4d2aa2c8afe5fac58a04",
                {
                    center: [14.5795823, -90.5184938],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_feaa676ffea144ddb42b89869e1a7553 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var marker_5b8728e29f5644b89e03eb5cf6856ff5 = L.marker(
                [14.5795823, -90.5184938],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_16f6c9d652184489a932a072adec940d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5b8728e29f5644b89e03eb5cf6856ff5.setIcon(icon_16f6c9d652184489a932a072adec940d);
        
    
            marker_5b8728e29f5644b89e03eb5cf6856ff5.bindTooltip(
                `<div>
                     Location you chose: zona 14 guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1312733a478f43a4bd74ee75fd1fe474 = L.marker(
                [14.5901, -90.50806],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_182f50ceb3174681a38df1270ae8cf8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1312733a478f43a4bd74ee75fd1fe474.setIcon(icon_182f50ceb3174681a38df1270ae8cf8c);
        
    
        var popup_b097746dac964deb951eb65a861d7b40 = L.popup({"maxWidth": 2650});

        
            var i_frame_753b0296ebd142eb91787bc4b23a4bb8 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkFjYWRlbWlhIGRlIEJhaWxlIEVzcGHDsW9sIE1hcnkgRmFycmluZ3RvbjwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiA0MDQ0NTE3NDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+IDE5IGNhbGxlIDEyLTM0IHpvbmEgMTA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9hY2FtYXJ5ZmFycnJpbmd0b24vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+QmFpbGU8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_b097746dac964deb951eb65a861d7b40.setContent(i_frame_753b0296ebd142eb91787bc4b23a4bb8);
        

        marker_1312733a478f43a4bd74ee75fd1fe474.bindPopup(popup_b097746dac964deb951eb65a861d7b40)
        ;

        
    
    
            marker_1312733a478f43a4bd74ee75fd1fe474.bindTooltip(
                `<div>
                     Academia de Baile Español Mary Farrington
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_852144d8ef9a4cef998101f8e618fb19 = L.marker(
                [14.58189, -90.52029],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_acba5facaf1947fcb06e1817c597a8ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_852144d8ef9a4cef998101f8e618fb19.setIcon(icon_acba5facaf1947fcb06e1817c597a8ad);
        
    
        var popup_1b1f5485c53248f5a4d5a7df1bba3b5e = L.popup({"maxWidth": 2650});

        
            var i_frame_42150de7b7dd47e19f7b82c91a6b6ae9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkFjYWRlbWlhIFNjZW5pYyBEYW5jZTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiA1MjA0NzA4MTwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+IDMgQXZlbmlkYSAxNC0xOSBab25hIDE0PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5mYWNlYm9vay5jb20vU2NlbmljRGFuY2UvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+QmFpbGU8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_1b1f5485c53248f5a4d5a7df1bba3b5e.setContent(i_frame_42150de7b7dd47e19f7b82c91a6b6ae9);
        

        marker_852144d8ef9a4cef998101f8e618fb19.bindPopup(popup_1b1f5485c53248f5a4d5a7df1bba3b5e)
        ;

        
    
    
            marker_852144d8ef9a4cef998101f8e618fb19.bindTooltip(
                `<div>
                     Academia Scenic Dance
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_603aa76a56ed439094b3f326e839d361 = L.marker(
                [14.57359, -90.52231],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_b1b31706f7e642ff9bf22b95c5a9b41b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_603aa76a56ed439094b3f326e839d361.setIcon(icon_b1b31706f7e642ff9bf22b95c5a9b41b);
        
    
        var popup_cbf96e4054e04954ba4fb9b461cf12ef = L.popup({"maxWidth": 2650});

        
            var i_frame_edcbdb27a33a46cf85e0d019f8d5733f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkFzaGEgU2hhbGE8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjM2NzI2OTg8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiA1YS4gQXZlbmlkYSAyMC00MiBab25hIDE0PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL2RpcmVjdG9yaW8uZ3VhdGVtYWxhLmNvbS9saXN0YWRvL2FzaGEtc2hhbGEuaHRtbDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+Q2F0ZWdvcsOtYXM6PC9iPllvZ2E8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_cbf96e4054e04954ba4fb9b461cf12ef.setContent(i_frame_edcbdb27a33a46cf85e0d019f8d5733f);
        

        marker_603aa76a56ed439094b3f326e839d361.bindPopup(popup_cbf96e4054e04954ba4fb9b461cf12ef)
        ;

        
    
    
            marker_603aa76a56ed439094b3f326e839d361.bindTooltip(
                `<div>
                     Asha Shala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5f91896bfa54d64a639298321e7b8ea = L.marker(
                [14.58954, -90.5163053],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_b4e86d7b9c944d58a03e9af577128114 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a5f91896bfa54d64a639298321e7b8ea.setIcon(icon_b4e86d7b9c944d58a03e9af577128114);
        
    
        var popup_2b660218da654696b61ccf4e8d39c42f = L.popup({"maxWidth": 2650});

        
            var i_frame_f36c8877b1f849f6b53a6273e9a7d8ff = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkJpbGFuejwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiAyMzYzNjM5MjwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+IDE4IENhbGxlIDIwLTcwIFpvbmEgMTA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmJpbGFuenBpbGF0ZXMuY29tLzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+Q2F0ZWdvcsOtYXM6PC9iPlBpbGF0ZXMsIFRSWDwvbGFiZWw+CiAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAg" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_2b660218da654696b61ccf4e8d39c42f.setContent(i_frame_f36c8877b1f849f6b53a6273e9a7d8ff);
        

        marker_a5f91896bfa54d64a639298321e7b8ea.bindPopup(popup_2b660218da654696b61ccf4e8d39c42f)
        ;

        
    
    
            marker_a5f91896bfa54d64a639298321e7b8ea.bindTooltip(
                `<div>
                     Bilanz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b6da79f97b7b43e0a7acf6c1247fddb1 = L.marker(
                [14.589979999999999, -90.52086],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_117720899906407d9892a44414aa277e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b6da79f97b7b43e0a7acf6c1247fddb1.setIcon(icon_117720899906407d9892a44414aa277e);
        
    
        var popup_2ee74335946f420ba0ef83f2081ac26a = L.popup({"maxWidth": 2650});

        
            var i_frame_7fbd632dcf9b44b7a3eda287cc8c1783 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkJvb20gR3ltPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDIzNjIwNzA4PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gMTUgQXZlbmlkYSA2LTAxLCBDZW50dXJ5IFBsYXphIE5pdmVsIDQgTG9jYWwgNDAzPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5ib29tZ3ltLmNvbS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5Dcm9zc2ZpdDwvbGFiZWw+CiAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAg" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_2ee74335946f420ba0ef83f2081ac26a.setContent(i_frame_7fbd632dcf9b44b7a3eda287cc8c1783);
        

        marker_b6da79f97b7b43e0a7acf6c1247fddb1.bindPopup(popup_2ee74335946f420ba0ef83f2081ac26a)
        ;

        
    
    
            marker_b6da79f97b7b43e0a7acf6c1247fddb1.bindTooltip(
                `<div>
                     Boom Gym
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0a122edfd1de400899feefe3612245f0 = L.marker(
                [14.582189999999999, -90.51554],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_6c86ab70b1d5413bb68e1bb751235c3c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0a122edfd1de400899feefe3612245f0.setIcon(icon_6c86ab70b1d5413bb68e1bb751235c3c);
        
    
        var popup_41d8096c5fd74f5ba97e34622223ab5f = L.popup({"maxWidth": 2650});

        
            var i_frame_489a5a97e965426ea49311cebf44da6f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkNyb3NzRml0IEZENjwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiAyMjEzNjkwMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+IFBsYXphIEZ1dGVjYSwgWm9uYSAxNCA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9kNmxpZmVjaGFuZ2luZ2ZpdG5lc3MvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+Q3Jvc3NmaXQ8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_41d8096c5fd74f5ba97e34622223ab5f.setContent(i_frame_489a5a97e965426ea49311cebf44da6f);
        

        marker_0a122edfd1de400899feefe3612245f0.bindPopup(popup_41d8096c5fd74f5ba97e34622223ab5f)
        ;

        
    
    
            marker_0a122edfd1de400899feefe3612245f0.bindTooltip(
                `<div>
                     CrossFit FD6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_06a6847f86664dc1b03118274c99e22d = L.marker(
                [14.58331, -90.522],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_64edf3ee32594151beb997cc7e1bdf30 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_06a6847f86664dc1b03118274c99e22d.setIcon(icon_64edf3ee32594151beb997cc7e1bdf30);
        
    
        var popup_20047256f61e42d489cfbb2764f4f19e = L.popup({"maxWidth": 2650});

        
            var i_frame_a02b0d8fadad44c082d00648460e670b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkZlbW1lRml0PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDUxMTY1NjkyPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gQXYuIExhcyBBbcOpcmljYXMgMTQtMjggei4xMyBQbGF6YSBBbcOpcmljYXMsIGxvY2FsIDEwMTwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly9mZW1tZWZpdHN0dWRpby5jb20vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+RnVuY2lvbmFsPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_20047256f61e42d489cfbb2764f4f19e.setContent(i_frame_a02b0d8fadad44c082d00648460e670b);
        

        marker_06a6847f86664dc1b03118274c99e22d.bindPopup(popup_20047256f61e42d489cfbb2764f4f19e)
        ;

        
    
    
            marker_06a6847f86664dc1b03118274c99e22d.bindTooltip(
                `<div>
                     FemmeFit
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0f51144ac931445fb1998a71f50ab307 = L.marker(
                [14.583060000000001, -90.51556],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_ab7ea75c86bb4e9d94cadb8747dc5412 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0f51144ac931445fb1998a71f50ab307.setIcon(icon_ab7ea75c86bb4e9d94cadb8747dc5412);
        
    
        var popup_dc643cdae4e0454cbf67635e112dd4ba = L.popup({"maxWidth": 2650});

        
            var i_frame_13c40adb81ef4c4eb20d4b43b66e4527 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkZ1dGVjYSBHeW0gLSBab25hIDE0PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDIyMTM2OTAwPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gMTBtYS4gQXZlbmlkYSAxMC01MCB6b25hIDE0LiBQbGF6YSBGdXRlY2EsIExvY2FsIDIxPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL2Z1dGVjYWd5bS5jb20vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+UGVzYXMsIEZ1bmNpb25hbCwgQmFpbGUsIENyb3NzZml0PC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_dc643cdae4e0454cbf67635e112dd4ba.setContent(i_frame_13c40adb81ef4c4eb20d4b43b66e4527);
        

        marker_0f51144ac931445fb1998a71f50ab307.bindPopup(popup_dc643cdae4e0454cbf67635e112dd4ba)
        ;

        
    
    
            marker_0f51144ac931445fb1998a71f50ab307.bindTooltip(
                `<div>
                     Futeca Gym - Zona 14
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1237e115aaf74ca5befcf92c386308a4 = L.marker(
                [14.5859, -90.51316],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_5c6bd42e99a14f1c9c95b3178c75edf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1237e115aaf74ca5befcf92c386308a4.setIcon(icon_5c6bd42e99a14f1c9c95b3178c75edf4);
        
    
        var popup_4e2664688222498b9fe63b0e66a7c351 = L.popup({"maxWidth": 2650});

        
            var i_frame_f81a8f6c6e9140d7a22587b6fcb4232a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkludmljdHVzIFBlcmZvcm1hbmNlIFRyYWluaW5nPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDIzNjcxMjM5PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gOGEuIGF2ZW5pZGEgNi02MywgWm9uYSAxNDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2ludmljdHVzcGVyZm9ybWFuY2UvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+Q3Jvc3NmaXQ8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_4e2664688222498b9fe63b0e66a7c351.setContent(i_frame_f81a8f6c6e9140d7a22587b6fcb4232a);
        

        marker_1237e115aaf74ca5befcf92c386308a4.bindPopup(popup_4e2664688222498b9fe63b0e66a7c351)
        ;

        
    
    
            marker_1237e115aaf74ca5befcf92c386308a4.bindTooltip(
                `<div>
                     Invictus Performance Training
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5f6d117cefe64b6583c4994f5b811026 = L.marker(
                [14.573620000000002, -90.52064],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_80d190d7b222438286110ae708046408 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5f6d117cefe64b6583c4994f5b811026.setIcon(icon_80d190d7b222438286110ae708046408);
        
    
        var popup_af85b97939114e9dae51bca20026bc88 = L.popup({"maxWidth": 2650});

        
            var i_frame_e66a4703633744a0a1ef0cc5620fd2d9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkthIFN5bmVyZ3k8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjMyMjc3Nzc8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiA5YS4gQ2FsbGUgMjAtODEgem9uYSAxNDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cDovL2d1YXRlbWFsYWthcmF0ZS5jb20vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+QXJ0ZXMgTWFyY2lhbGVzPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_af85b97939114e9dae51bca20026bc88.setContent(i_frame_e66a4703633744a0a1ef0cc5620fd2d9);
        

        marker_5f6d117cefe64b6583c4994f5b811026.bindPopup(popup_af85b97939114e9dae51bca20026bc88)
        ;

        
    
    
            marker_5f6d117cefe64b6583c4994f5b811026.bindTooltip(
                `<div>
                     Ka Synergy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7fafd56f1394442c8ff70a3ab18aec97 = L.marker(
                [14.583260000000001, -90.51504],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_5bcd828603c64ffca92209fe04082e87 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7fafd56f1394442c8ff70a3ab18aec97.setIcon(icon_5bcd828603c64ffca92209fe04082e87);
        
    
        var popup_4146bbf3b2d448c0b9d69cf004f1d3d1 = L.popup({"maxWidth": 2650});

        
            var i_frame_6577e5f098794a928ba77c0499845052 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPk1vbmtleSBCdXNpbmVzcyBDYWxpc3RoZW5pY3M8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjIxMzY5MDA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiAxNSBBdmVuaWRhIHkgNGEuIENhbGxlIDMtMTUsIFpvbmEgMTQ8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9Nb25rZXlCdXNpbmVzc0NhbGlzdGhlbmljcy88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5DYWxpc3RlbmlhPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_4146bbf3b2d448c0b9d69cf004f1d3d1.setContent(i_frame_6577e5f098794a928ba77c0499845052);
        

        marker_7fafd56f1394442c8ff70a3ab18aec97.bindPopup(popup_4146bbf3b2d448c0b9d69cf004f1d3d1)
        ;

        
    
    
            marker_7fafd56f1394442c8ff70a3ab18aec97.bindTooltip(
                `<div>
                     Monkey Business Calisthenics
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_994748e9709f4e879edee073e718d1f7 = L.marker(
                [14.58211, -90.52243],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_ac9db7f3b7874f8ebfd43e8d74f9aa04 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_994748e9709f4e879edee073e718d1f7.setIcon(icon_ac9db7f3b7874f8ebfd43e8d74f9aa04);
        
    
        var popup_449b0560aa99469b8b61da844e8ea44b = L.popup({"maxWidth": 2650});

        
            var i_frame_1fc2d6a07e334124b6c7eadecc368312 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPk9raW5hd2FuIEdvanUgUnl1PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDIzMzQ1Njk3PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gQXZlbmlkYSBMYXMgQW3DqXJpY2FzIDE3LTE2PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwOi8vb2tpbmF3YW4tZ29qdS1yeXUtZ3VhdGVtYWxhLmNvbS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5BcnRlcyBNYXJjaWFsZXM8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_449b0560aa99469b8b61da844e8ea44b.setContent(i_frame_1fc2d6a07e334124b6c7eadecc368312);
        

        marker_994748e9709f4e879edee073e718d1f7.bindPopup(popup_449b0560aa99469b8b61da844e8ea44b)
        ;

        
    
    
            marker_994748e9709f4e879edee073e718d1f7.bindTooltip(
                `<div>
                     Okinawan Goju Ryu
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0d2d824156a8470d8ddd7e168efd71ba = L.marker(
                [14.59021, -90.51264],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_13bb1f1114c4421ebf36e0ba5f24af4d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0d2d824156a8470d8ddd7e168efd71ba.setIcon(icon_13bb1f1114c4421ebf36e0ba5f24af4d);
        
    
        var popup_77641d3724964fc990e6155033093982 = L.popup({"maxWidth": 2650});

        
            var i_frame_95fcd78ddb934eb69ead81b57bf63c0a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPk9NIFlvZ2E8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjMzMzQzMTA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiA2dGEuIEF2ZW5pZGEgMjAtNDIgem9uYSAxMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cDovL3d3dy5vbXlvZ2FndC5jb20vaG9tZS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5Zb2dhPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_77641d3724964fc990e6155033093982.setContent(i_frame_95fcd78ddb934eb69ead81b57bf63c0a);
        

        marker_0d2d824156a8470d8ddd7e168efd71ba.bindPopup(popup_77641d3724964fc990e6155033093982)
        ;

        
    
    
            marker_0d2d824156a8470d8ddd7e168efd71ba.bindTooltip(
                `<div>
                     OM Yoga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_af5f4c545fb740dca79f98623eb4dbdc = L.marker(
                [14.57965, -90.52022],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_b10fecf025ca43f99bf94c9ae703d612 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_af5f4c545fb740dca79f98623eb4dbdc.setIcon(icon_b10fecf025ca43f99bf94c9ae703d612);
        
    
        var popup_8fd7543bf1664a3ba8d8898dd5824e2a = L.popup({"maxWidth": 2650});

        
            var i_frame_d886f233129f40fa8682a5a1e64a5a2a = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPlJpdG1vIHkgU2Fib3IgR3VhdGVtYWxhPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDQ4MDAyMDE1PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gNGEuIGF2ZW5pZGEsIDE2LTI0IHpvbmEgMTQ8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vZXMtbGEuZmFjZWJvb2suY29tL3JpdG1veXNhYm9yZ3QvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+QmFpbGU8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_8fd7543bf1664a3ba8d8898dd5824e2a.setContent(i_frame_d886f233129f40fa8682a5a1e64a5a2a);
        

        marker_af5f4c545fb740dca79f98623eb4dbdc.bindPopup(popup_8fd7543bf1664a3ba8d8898dd5824e2a)
        ;

        
    
    
            marker_af5f4c545fb740dca79f98623eb4dbdc.bindTooltip(
                `<div>
                     Ritmo y Sabor Guatemala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cf2bc8b2fcf5440cae7e6923e41629d8 = L.marker(
                [14.579839999999999, -90.52389000000001],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_f53c8a4b0d334beeb4972c1535b49ce1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cf2bc8b2fcf5440cae7e6923e41629d8.setIcon(icon_f53c8a4b0d334beeb4972c1535b49ce1);
        
    
        var popup_a4c0f071b2db4186bd1ccd9577067867 = L.popup({"maxWidth": 2650});

        
            var i_frame_7887294e302d4a529e94a14779cbe97e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPlNhbHNhIExhdGluIEd1YXRlbWFsYTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiA0MjE3MjU2NzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+IDE4IGNhbGxlIDE1LTUxLCBab25hIDEzIEMuQy4gUGFzZW8gUmVhbDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1NhbHNhLUxhdGluLUd1YXRlbWFsYS0xNzgyNjg3MTkwNzgvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+QmFpbGU8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_a4c0f071b2db4186bd1ccd9577067867.setContent(i_frame_7887294e302d4a529e94a14779cbe97e);
        

        marker_cf2bc8b2fcf5440cae7e6923e41629d8.bindPopup(popup_a4c0f071b2db4186bd1ccd9577067867)
        ;

        
    
    
            marker_cf2bc8b2fcf5440cae7e6923e41629d8.bindTooltip(
                `<div>
                     Salsa Latin Guatemala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_705e7f23eef14eacb13d5cce783ea3d5 = L.marker(
                [14.59405, -90.509],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_55591fac8daf4bcb93d16cb9e2c20a71 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_705e7f23eef14eacb13d5cce783ea3d5.setIcon(icon_55591fac8daf4bcb93d16cb9e2c20a71);
        
    
        var popup_dbdd0d3323de4f7d80268ab0365898c7 = L.popup({"maxWidth": 2650});

        
            var i_frame_8b4542c80c914019aceb363e06eb74a0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPlNlbnNlIENyb3NzRml0PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDIzNjY1ODM2PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gOWEuIGF2ZW5pZGEgMTYtMDMsIFpvbmEgMTA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHA6Ly9zZW5zZWNyb3NzZml0LmNvbS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5Dcm9zc2ZpdDwvbGFiZWw+CiAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAg" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_dbdd0d3323de4f7d80268ab0365898c7.setContent(i_frame_8b4542c80c914019aceb363e06eb74a0);
        

        marker_705e7f23eef14eacb13d5cce783ea3d5.bindPopup(popup_dbdd0d3323de4f7d80268ab0365898c7)
        ;

        
    
    
            marker_705e7f23eef14eacb13d5cce783ea3d5.bindTooltip(
                `<div>
                     Sense CrossFit
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9b169dbe1cf2424e9efc152234bc5415 = L.marker(
                [14.594879999999998, -90.51553],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_67a549435eca43f796d36a73d3bc0d14 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9b169dbe1cf2424e9efc152234bc5415.setIcon(icon_67a549435eca43f796d36a73d3bc0d14);
        
    
        var popup_11254b78bb514e2a8ed241132cd5b0c3 = L.popup({"maxWidth": 2650});

        
            var i_frame_0f288c21903a40ce9e12c47f030318da = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPlNtYXJ0IEZpdCAtIExvcyBQcsOzY2VyZXM8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+ICAgM8KqIEF2ZW5pZGEgMTYtNTIsIFouMTAgLSAgQ2VudHJvIENvbWVyY2lhbCBMb3MgUHLDs2NlcmVzPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5zbWFydGZpdC5jb20uZ3QvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+UGVzYXM8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgIA==" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_11254b78bb514e2a8ed241132cd5b0c3.setContent(i_frame_0f288c21903a40ce9e12c47f030318da);
        

        marker_9b169dbe1cf2424e9efc152234bc5415.bindPopup(popup_11254b78bb514e2a8ed241132cd5b0c3)
        ;

        
    
    
            marker_9b169dbe1cf2424e9efc152234bc5415.bindTooltip(
                `<div>
                     Smart Fit - Los Próceres
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_400631ce901a4ae58f1a7fc2880cfa5e = L.marker(
                [14.581570000000001, -90.51629],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_12cc1c4aad6c4ab78972f05fecf6e82c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_400631ce901a4ae58f1a7fc2880cfa5e.setIcon(icon_12cc1c4aad6c4ab78972f05fecf6e82c);
        
    
        var popup_3ed5c069902e46c4b57af6abda44b79e = L.popup({"maxWidth": 2650});

        
            var i_frame_c61199d0e238477ebcce0daaa708d005 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPlNwb3J0YSBHeW08L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gNjYyNTkxMDA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiAxMGEgYXZlbmlkYSB5IDEyIGNhbGxlIHpvbmEgMTQuIEMuQy4gTGEgTm9yaWE8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vc3BvcnRhLmNvbS5ndC88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5QZXNhcywgQmFpbGUsIE5hdGFjacOzbiwgRnVuY2lvbmFsPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_3ed5c069902e46c4b57af6abda44b79e.setContent(i_frame_c61199d0e238477ebcce0daaa708d005);
        

        marker_400631ce901a4ae58f1a7fc2880cfa5e.bindPopup(popup_3ed5c069902e46c4b57af6abda44b79e)
        ;

        
    
    
            marker_400631ce901a4ae58f1a7fc2880cfa5e.bindTooltip(
                `<div>
                     Sporta Gym
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fbfb1ff61ccd403bbec33470dec47b0a = L.marker(
                [14.58956, -90.51906],
                {}
            ).addTo(map_56a4a10a091a4d2aa2c8afe5fac58a04);
        
    
            var icon_aba295a27cd94623a1250df96605e2cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fbfb1ff61ccd403bbec33470dec47b0a.setIcon(icon_aba295a27cd94623a1250df96605e2cb);
        
    
        var popup_2f77ad61a4f145e7b01357fde3da9fc5 = L.popup({"maxWidth": 2650});

        
            var i_frame_66b92127ff054ac5aad65c0307d930d3 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPlRoZSBEYW5jZSBGYWN0b3J5PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDY2MzQyMjMwPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gTGFzIEFtZXJpY2FzPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL2VzLWxhLmZhY2Vib29rLmNvbS9EYW5jZUZhY3RvcnlHVC88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5CYWlsZTwvbGFiZWw+CiAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAg" width="250" style="border:none !important;" height="150"></iframe>`)[0];
            popup_2f77ad61a4f145e7b01357fde3da9fc5.setContent(i_frame_66b92127ff054ac5aad65c0307d930d3);
        

        marker_fbfb1ff61ccd403bbec33470dec47b0a.bindPopup(popup_2f77ad61a4f145e7b01357fde3da9fc5)
        ;

        
    
    
            marker_fbfb1ff61ccd403bbec33470dec47b0a.bindTooltip(
                `<div>
                     The Dance Factory
                 </div>`,
                {"sticky": true}
            );
        
</script>