<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ed55425927114eaa930d1506e1d3ff14 {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ed55425927114eaa930d1506e1d3ff14" ></div>
        
</body>
<script>    
    
            var map_ed55425927114eaa930d1506e1d3ff14 = L.map(
                "map_ed55425927114eaa930d1506e1d3ff14",
                {
                    center: [14.5795823, -90.5184938],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9c5f080f9b06482ebd1ba9fbaf50c71d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ed55425927114eaa930d1506e1d3ff14);
        
    
            var marker_f54b7db4d63e4840bf68e84bcd7b26e7 = L.marker(
                [14.5795823, -90.5184938],
                {}
            ).addTo(map_ed55425927114eaa930d1506e1d3ff14);
        
    
            var icon_a11d9bcfdfec44e7bac9e904ade05343 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f54b7db4d63e4840bf68e84bcd7b26e7.setIcon(icon_a11d9bcfdfec44e7bac9e904ade05343);
        
    
            marker_f54b7db4d63e4840bf68e84bcd7b26e7.bindTooltip(
                `<div>
                     Location you chose: zona 14 guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7e2643d4a33c4f7e8d32402e27205478 = L.marker(
                [14.57359, -90.52231],
                {}
            ).addTo(map_ed55425927114eaa930d1506e1d3ff14);
        
    
            var icon_4c7286cd287245f697522777411a944b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7e2643d4a33c4f7e8d32402e27205478.setIcon(icon_4c7286cd287245f697522777411a944b);
        
    
        var popup_1e741b5bf6984bd782d613dfec25c492 = L.popup({"maxWidth": 2650});

        
            var i_frame_d27c28b606744685ae6f573e8c7cdb5b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Bc2hhIFNoYWxhPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjM2NzI2OTg8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gNWEuIEF2ZW5pZGEgMjAtNDIgWm9uYSAxNDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vZGlyZWN0b3Jpby5ndWF0ZW1hbGEuY29tL2xpc3RhZG8vYXNoYS1zaGFsYS5odG1sPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_1e741b5bf6984bd782d613dfec25c492.setContent(i_frame_d27c28b606744685ae6f573e8c7cdb5b);
        

        marker_7e2643d4a33c4f7e8d32402e27205478.bindPopup(popup_1e741b5bf6984bd782d613dfec25c492)
        ;

        
    
    
            marker_7e2643d4a33c4f7e8d32402e27205478.bindTooltip(
                `<div>
                     Asha Shala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0651793806f04bba9cfcd298096a7d75 = L.marker(
                [14.59021, -90.51264],
                {}
            ).addTo(map_ed55425927114eaa930d1506e1d3ff14);
        
    
            var icon_482f80a8ba1a43caaa1b0030fa150f8f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0651793806f04bba9cfcd298096a7d75.setIcon(icon_482f80a8ba1a43caaa1b0030fa150f8f);
        
    
        var popup_76dc7c76ca6b4239a00c40d1a0137b13 = L.popup({"maxWidth": 2650});

        
            var i_frame_2a65b8e4366c417caa27c951885c583b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5PTSBZb2dhPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjMzMzQzMTA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gNnRhLiBBdmVuaWRhIDIwLTQyIHpvbmEgMTA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwOi8vd3d3Lm9teW9nYWd0LmNvbS9ob21lLzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_76dc7c76ca6b4239a00c40d1a0137b13.setContent(i_frame_2a65b8e4366c417caa27c951885c583b);
        

        marker_0651793806f04bba9cfcd298096a7d75.bindPopup(popup_76dc7c76ca6b4239a00c40d1a0137b13)
        ;

        
    
    
            marker_0651793806f04bba9cfcd298096a7d75.bindTooltip(
                `<div>
                     OM Yoga
                 </div>`,
                {"sticky": true}
            );
        
</script>