<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d186066172194341b416f3227b59cf3f {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d186066172194341b416f3227b59cf3f" ></div>
        
</body>
<script>    
    
            var map_d186066172194341b416f3227b59cf3f = L.map(
                "map_d186066172194341b416f3227b59cf3f",
                {
                    center: [14.6104732, -90.4833654],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e2e428194e54444593a3ec8655af1bc6 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d186066172194341b416f3227b59cf3f);
        
    
            var marker_2b50af15cd0846f599276a8a0c0f020a = L.marker(
                [14.6104732, -90.4833654],
                {}
            ).addTo(map_d186066172194341b416f3227b59cf3f);
        
    
            var icon_c5accdc0715546d19916a4e6177c53f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2b50af15cd0846f599276a8a0c0f020a.setIcon(icon_c5accdc0715546d19916a4e6177c53f9);
        
    
            marker_2b50af15cd0846f599276a8a0c0f020a.bindTooltip(
                `<div>
                     Location you chose: zona 16 guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e9909bac521e4f6e9dba8b44f603f61b = L.marker(
                [14.60224, -90.49769],
                {}
            ).addTo(map_d186066172194341b416f3227b59cf3f);
        
    
            var icon_59113628854148b68f86ce2b7c2bd889 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e9909bac521e4f6e9dba8b44f603f61b.setIcon(icon_59113628854148b68f86ce2b7c2bd889);
        
    
        var popup_babf5f0497a743e49f5088facff9467d = L.popup({"maxWidth": "100%"});

        
            var i_frame_394f461ff7d54a9fb81148e76ebfd5df = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkZlZGVyYWNpb24gTmFjaW9uYWwgRGUgTmF0YWNpb24sIENsYXZhZG9zLCBQb2xvIEFjdWF0aWNvIFkgTmFkbyBTaW5jcm9uaXphZG88L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjMzNDEwNzU8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiAxMCBBdiBaLTQ8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHA6Ly93d3cuZmVuYWRlZ3VhLmd0PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczo8L2I+TmF0YWNpw7NuPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_babf5f0497a743e49f5088facff9467d.setContent(i_frame_394f461ff7d54a9fb81148e76ebfd5df);
        

        marker_e9909bac521e4f6e9dba8b44f603f61b.bindPopup(popup_babf5f0497a743e49f5088facff9467d)
        ;

        
    
    
            marker_e9909bac521e4f6e9dba8b44f603f61b.bindTooltip(
                `<div>
                     Federacion Nacional De Natacion, Clavados, Polo Acuatico Y Nado Sincronizado
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bf22719c899f412ebc036cdd7f2fb501 = L.marker(
                [14.612039999999999, -90.48306],
                {}
            ).addTo(map_d186066172194341b416f3227b59cf3f);
        
    
            var icon_e5cacecb81bd47ba93264b3024326db3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bf22719c899f412ebc036cdd7f2fb501.setIcon(icon_e5cacecb81bd47ba93264b3024326db3);
        
    
        var popup_34eaaf17121f466184ac6a66b1b82c7e = L.popup({"maxWidth": "100%"});

        
            var i_frame_30363e9361914827b89de20a41993488 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPkZpdG5lc3MgT25lIC0gQ2F5YWzDoTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiAyNDkxNDMzMzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjacOzbjo8L2I+IERpYWdvbmFsIDM1IEJvdWxldmFyZCBBdXN0cmlhY28gMTYtMjUgWm9uYSAxNiBDYXJkYWxlcyBkZSBDYXlhbMOhLjwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly9maXRuZXNzb25lLmNvbS5ndC88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkNhdGVnb3LDrWFzOjwvYj5QZXNhcywgTmF0YWNpw7NuPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICA=" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_34eaaf17121f466184ac6a66b1b82c7e.setContent(i_frame_30363e9361914827b89de20a41993488);
        

        marker_bf22719c899f412ebc036cdd7f2fb501.bindPopup(popup_34eaaf17121f466184ac6a66b1b82c7e)
        ;

        
    
    
            marker_bf22719c899f412ebc036cdd7f2fb501.bindTooltip(
                `<div>
                     Fitness One - Cayalá
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2fe542eb0f004e56bebf0ccb31a26598 = L.marker(
                [14.6155, -90.46963000000001],
                {}
            ).addTo(map_d186066172194341b416f3227b59cf3f);
        
    
            var icon_57218dc2bdcc4bf5a3d1826a344f98db = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2fe542eb0f004e56bebf0ccb31a26598.setIcon(icon_57218dc2bdcc4bf5a3d1826a344f98db);
        
    
        var popup_24d6300ea0324d0293a3ca9312a53f51 = L.popup({"maxWidth": "100%"});

        
            var i_frame_01423368de984f65a3b1c08eb1b722eb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlID0gVmVyZGFuYSBzaXplID0gIjEiPiA8bGFiZWwgPjxiPldhdGVycHJvb2YgU3dpbSBBY2FkZW15PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbMOpZm9ubzo8L2I+IDIzNzk4MTk1PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gMTIgY2FsbGUgMTYtMDIgem9uYSAxNiwgQmx2ZCBTYW4gSXNpZHJvLCBBY2F0w6FuPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5naXNlbGFtb3JhbGVzLmNvbS5ndDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+Q2F0ZWdvcsOtYXM6PC9iPk5hdGFjacOzbjwvbGFiZWw+CiAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAg" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_24d6300ea0324d0293a3ca9312a53f51.setContent(i_frame_01423368de984f65a3b1c08eb1b722eb);
        

        marker_2fe542eb0f004e56bebf0ccb31a26598.bindPopup(popup_24d6300ea0324d0293a3ca9312a53f51)
        ;

        
    
    
            marker_2fe542eb0f004e56bebf0ccb31a26598.bindTooltip(
                `<div>
                     Waterproof Swim Academy
                 </div>`,
                {"sticky": true}
            );
        
</script>