<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_db124c86554a4d5a9b7677128af5baef {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_db124c86554a4d5a9b7677128af5baef" ></div>
        
</body>
<script>    
    
            var map_db124c86554a4d5a9b7677128af5baef = L.map(
                "map_db124c86554a4d5a9b7677128af5baef",
                {
                    center: [14.5795823, -90.5184938],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a59bd3574ea843d697f4a02f7c60cb8b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var marker_c679f09780b64cccbc553c5de9a1860b = L.marker(
                [14.5795823, -90.5184938],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_10556a3e9dac4d738c030e35b26ec26f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_c679f09780b64cccbc553c5de9a1860b.setIcon(icon_10556a3e9dac4d738c030e35b26ec26f);
        
    
            marker_c679f09780b64cccbc553c5de9a1860b.bindTooltip(
                `<div>
                     Location you chose: zona 14 guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6299807e273140028ea4e0239907b53f = L.marker(
                [14.5901, -90.50806],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_2b1550698f9c40cb9bc74cc1db38e670 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6299807e273140028ea4e0239907b53f.setIcon(icon_2b1550698f9c40cb9bc74cc1db38e670);
        
    
        var popup_ca1c135b215c46c1a09fd3d40b249113 = L.popup({"maxWidth": 2650});

        
            var i_frame_8113cb75bf0144ae94b50bcbe68086dc = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5BY2FkZW1pYSBkZSBCYWlsZSBFc3Bhw7FvbCBNYXJ5IEZhcnJpbmd0b248L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWxlZm9ubzo8L2I+IDQwNDQ1MTc0PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjaW9uOjwvYj4gMTkgY2FsbGUgMTItMzQgem9uYSAxMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9hY2FtYXJ5ZmFycnJpbmd0b24vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ca1c135b215c46c1a09fd3d40b249113.setContent(i_frame_8113cb75bf0144ae94b50bcbe68086dc);
        

        marker_6299807e273140028ea4e0239907b53f.bindPopup(popup_ca1c135b215c46c1a09fd3d40b249113)
        ;

        
    
    
            marker_6299807e273140028ea4e0239907b53f.bindTooltip(
                `<div>
                     Academia de Baile Español Mary Farrington
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_9ffd0ca2ea5c4df1bfdc5d2a8a132500 = L.marker(
                [14.58189, -90.52029],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_cd9a292445cf43b0a00b9b0bbd20d773 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9ffd0ca2ea5c4df1bfdc5d2a8a132500.setIcon(icon_cd9a292445cf43b0a00b9b0bbd20d773);
        
    
        var popup_33cf5779faa24dd695ce2cb04bddd75d = L.popup({"maxWidth": 2650});

        
            var i_frame_5d32ccb073ae446887f6fe11f4ad4091 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5BY2FkZW1pYSBTY2VuaWMgRGFuY2U8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWxlZm9ubzo8L2I+IDUyMDQ3MDgxPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjaW9uOjwvYj4gMyBBdmVuaWRhIDE0LTE5IFpvbmEgMTQ8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5mYWNlYm9vay5jb20vU2NlbmljRGFuY2UvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_33cf5779faa24dd695ce2cb04bddd75d.setContent(i_frame_5d32ccb073ae446887f6fe11f4ad4091);
        

        marker_9ffd0ca2ea5c4df1bfdc5d2a8a132500.bindPopup(popup_33cf5779faa24dd695ce2cb04bddd75d)
        ;

        
    
    
            marker_9ffd0ca2ea5c4df1bfdc5d2a8a132500.bindTooltip(
                `<div>
                     Academia Scenic Dance
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44ea2ad958c6447c99c366241e9ccdf9 = L.marker(
                [14.57359, -90.52231],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_402435bab1bc489fa8c7a7d797401ef5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_44ea2ad958c6447c99c366241e9ccdf9.setIcon(icon_402435bab1bc489fa8c7a7d797401ef5);
        
    
        var popup_9a0009e488724a2ea1047166f48b04e8 = L.popup({"maxWidth": 2650});

        
            var i_frame_8e4ca1f274c94de8872ea0da6934cbdd = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Bc2hhIFNoYWxhPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsZWZvbm86PC9iPiAyMzY3MjY5ODwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2lvbjo8L2I+IDVhLiBBdmVuaWRhIDIwLTQyIFpvbmEgMTQ8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL2RpcmVjdG9yaW8uZ3VhdGVtYWxhLmNvbS9saXN0YWRvL2FzaGEtc2hhbGEuaHRtbDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_9a0009e488724a2ea1047166f48b04e8.setContent(i_frame_8e4ca1f274c94de8872ea0da6934cbdd);
        

        marker_44ea2ad958c6447c99c366241e9ccdf9.bindPopup(popup_9a0009e488724a2ea1047166f48b04e8)
        ;

        
    
    
            marker_44ea2ad958c6447c99c366241e9ccdf9.bindTooltip(
                `<div>
                     Asha Shala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b8ac16edd8a145df91d4b7dcd4844af3 = L.marker(
                [14.58954, -90.5163053],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_575cb4436b954419be3a25d5f4265bac = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b8ac16edd8a145df91d4b7dcd4844af3.setIcon(icon_575cb4436b954419be3a25d5f4265bac);
        
    
        var popup_3b41eaf57acf4a5f801016af9d34cea7 = L.popup({"maxWidth": 2650});

        
            var i_frame_a668d16df11545a4bdfdbe9a52c0a122 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5CaWxhbno8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWxlZm9ubzo8L2I+IDIzNjM2MzkyPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjaW9uOjwvYj4gMTggQ2FsbGUgMjAtNzAgWm9uYSAxMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmJpbGFuenBpbGF0ZXMuY29tLzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_3b41eaf57acf4a5f801016af9d34cea7.setContent(i_frame_a668d16df11545a4bdfdbe9a52c0a122);
        

        marker_b8ac16edd8a145df91d4b7dcd4844af3.bindPopup(popup_3b41eaf57acf4a5f801016af9d34cea7)
        ;

        
    
    
            marker_b8ac16edd8a145df91d4b7dcd4844af3.bindTooltip(
                `<div>
                     Bilanz
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0dd9c4788d7a48c3b8e6ca9cec2175ba = L.marker(
                [14.589979999999999, -90.52086],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_ca1f5337d5d44e8d96a1c5b72b96d439 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0dd9c4788d7a48c3b8e6ca9cec2175ba.setIcon(icon_ca1f5337d5d44e8d96a1c5b72b96d439);
        
    
        var popup_fb5ead22000644f6b42fc5088e7d3f2e = L.popup({"maxWidth": 2650});

        
            var i_frame_738792cca2a942f787c7f61fe6363318 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Cb29tIEd5bTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gMjM2MjA3MDg8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiAxNSBBdmVuaWRhIDYtMDEsIENlbnR1cnkgUGxhemEgTml2ZWwgNCBMb2NhbCA0MDM8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5ib29tZ3ltLmNvbS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_fb5ead22000644f6b42fc5088e7d3f2e.setContent(i_frame_738792cca2a942f787c7f61fe6363318);
        

        marker_0dd9c4788d7a48c3b8e6ca9cec2175ba.bindPopup(popup_fb5ead22000644f6b42fc5088e7d3f2e)
        ;

        
    
    
            marker_0dd9c4788d7a48c3b8e6ca9cec2175ba.bindTooltip(
                `<div>
                     Boom Gym
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_73dbacec2fc84032b7824da0f0bbd866 = L.marker(
                [14.582189999999999, -90.51554],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_6dda2c5bf0b64e48953ac43d75df6830 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_73dbacec2fc84032b7824da0f0bbd866.setIcon(icon_6dda2c5bf0b64e48953ac43d75df6830);
        
    
        var popup_41a6d81d58d4421ebc460fffe627b986 = L.popup({"maxWidth": 2650});

        
            var i_frame_5034a2e470b24f8594c8deed50ba93f6 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Dcm9zc0ZpdCBGRDY8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWxlZm9ubzo8L2I+IDIyMTM2OTAwPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjaW9uOjwvYj4gUGxhemEgRnV0ZWNhLCBab25hIDE0IDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9kNmxpZmVjaGFuZ2luZ2ZpdG5lc3MvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_41a6d81d58d4421ebc460fffe627b986.setContent(i_frame_5034a2e470b24f8594c8deed50ba93f6);
        

        marker_73dbacec2fc84032b7824da0f0bbd866.bindPopup(popup_41a6d81d58d4421ebc460fffe627b986)
        ;

        
    
    
            marker_73dbacec2fc84032b7824da0f0bbd866.bindTooltip(
                `<div>
                     CrossFit FD6
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_352392ebabb3471ca0c2731e8339512c = L.marker(
                [14.58331, -90.522],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_db1228e66ccf422a8dbe46fcd5ec853d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_352392ebabb3471ca0c2731e8339512c.setIcon(icon_db1228e66ccf422a8dbe46fcd5ec853d);
        
    
        var popup_ffed79b567ce4ee3a112c7bb5c90e67a = L.popup({"maxWidth": 2650});

        
            var i_frame_b32bb8ccd1034376a0d86a768bbada11 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5GZW1tZUZpdDwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gNTExNjU2OTI8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiBBdi4gTGFzIEFtw6lyaWNhcyAxNC0yOCB6LjEzIFBsYXphIEFtw6lyaWNhcywgbG9jYWwgMTAxPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly9mZW1tZWZpdHN0dWRpby5jb20vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ffed79b567ce4ee3a112c7bb5c90e67a.setContent(i_frame_b32bb8ccd1034376a0d86a768bbada11);
        

        marker_352392ebabb3471ca0c2731e8339512c.bindPopup(popup_ffed79b567ce4ee3a112c7bb5c90e67a)
        ;

        
    
    
            marker_352392ebabb3471ca0c2731e8339512c.bindTooltip(
                `<div>
                     FemmeFit
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d2d5c78f0e424870adfaf856c1d9719f = L.marker(
                [14.583060000000001, -90.51556],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_d124dc8b329f45d5b906785d04cdcc49 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d2d5c78f0e424870adfaf856c1d9719f.setIcon(icon_d124dc8b329f45d5b906785d04cdcc49);
        
    
        var popup_31e419843e5148b08fb4ccdd3591e3cd = L.popup({"maxWidth": 2650});

        
            var i_frame_e1fe23b1c3684c2aa4b5f253bb0aac00 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5GdXRlY2EgR3ltIC0gWm9uYSAxNDwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gMjIxMzY5MDA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiAxMG1hLiBBdmVuaWRhIDEwLTUwIHpvbmEgMTQuIFBsYXphIEZ1dGVjYSwgTG9jYWwgMjE8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL2Z1dGVjYWd5bS5jb20vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_31e419843e5148b08fb4ccdd3591e3cd.setContent(i_frame_e1fe23b1c3684c2aa4b5f253bb0aac00);
        

        marker_d2d5c78f0e424870adfaf856c1d9719f.bindPopup(popup_31e419843e5148b08fb4ccdd3591e3cd)
        ;

        
    
    
            marker_d2d5c78f0e424870adfaf856c1d9719f.bindTooltip(
                `<div>
                     Futeca Gym - Zona 14
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a5d59bcc1456455ab641e8ba52f90fe1 = L.marker(
                [14.5859, -90.51316],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_0abbb60a35904e10825f4396313046d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a5d59bcc1456455ab641e8ba52f90fe1.setIcon(icon_0abbb60a35904e10825f4396313046d8);
        
    
        var popup_9d0c9815ca5f4769b7daebfb8405a485 = L.popup({"maxWidth": 2650});

        
            var i_frame_bd2a6efd787f4a919c2b2c6af33d6927 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5JbnZpY3R1cyBQZXJmb3JtYW5jZSBUcmFpbmluZzwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gMjM2NzEyMzk8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiA4YS4gYXZlbmlkYSA2LTYzLCBab25hIDE0PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2ludmljdHVzcGVyZm9ybWFuY2UvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_9d0c9815ca5f4769b7daebfb8405a485.setContent(i_frame_bd2a6efd787f4a919c2b2c6af33d6927);
        

        marker_a5d59bcc1456455ab641e8ba52f90fe1.bindPopup(popup_9d0c9815ca5f4769b7daebfb8405a485)
        ;

        
    
    
            marker_a5d59bcc1456455ab641e8ba52f90fe1.bindTooltip(
                `<div>
                     Invictus Performance Training
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3eb0ddaa534446fdaf53fcc925e093e8 = L.marker(
                [14.573620000000002, -90.52064],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_6083a3d50b5641248515f05b30af852f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_3eb0ddaa534446fdaf53fcc925e093e8.setIcon(icon_6083a3d50b5641248515f05b30af852f);
        
    
        var popup_a4aede48a0874976ab575f34d8a66911 = L.popup({"maxWidth": 2650});

        
            var i_frame_aaba216f8a4a46c482042597f9587bf9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5LYSBTeW5lcmd5PC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsZWZvbm86PC9iPiAyMzIyNzc3NzwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2lvbjo8L2I+IDlhLiBDYWxsZSAyMC04MSB6b25hIDE0PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cDovL2d1YXRlbWFsYWthcmF0ZS5jb20vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_a4aede48a0874976ab575f34d8a66911.setContent(i_frame_aaba216f8a4a46c482042597f9587bf9);
        

        marker_3eb0ddaa534446fdaf53fcc925e093e8.bindPopup(popup_a4aede48a0874976ab575f34d8a66911)
        ;

        
    
    
            marker_3eb0ddaa534446fdaf53fcc925e093e8.bindTooltip(
                `<div>
                     Ka Synergy
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_22e030dd43b74d1992032df1e882fea2 = L.marker(
                [14.583260000000001, -90.51504],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_912797480f5c4bdbbcc248dedc38be28 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_22e030dd43b74d1992032df1e882fea2.setIcon(icon_912797480f5c4bdbbcc248dedc38be28);
        
    
        var popup_f2240f1632fa468fa2761d026c018bee = L.popup({"maxWidth": 2650});

        
            var i_frame_3f9f7e16947d420aa6b05522b2cf207b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Nb25rZXkgQnVzaW5lc3MgQ2FsaXN0aGVuaWNzPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsZWZvbm86PC9iPiAyMjEzNjkwMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2lvbjo8L2I+IDE1IEF2ZW5pZGEgeSA0YS4gQ2FsbGUgMy0xNSwgWm9uYSAxNDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vd3d3LmZhY2Vib29rLmNvbS9Nb25rZXlCdXNpbmVzc0NhbGlzdGhlbmljcy88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_f2240f1632fa468fa2761d026c018bee.setContent(i_frame_3f9f7e16947d420aa6b05522b2cf207b);
        

        marker_22e030dd43b74d1992032df1e882fea2.bindPopup(popup_f2240f1632fa468fa2761d026c018bee)
        ;

        
    
    
            marker_22e030dd43b74d1992032df1e882fea2.bindTooltip(
                `<div>
                     Monkey Business Calisthenics
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_51b9c1a376fa46f49f6914be8001992f = L.marker(
                [14.58211, -90.52243],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_4ce39a4da2e540409c527e97dddf0775 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_51b9c1a376fa46f49f6914be8001992f.setIcon(icon_4ce39a4da2e540409c527e97dddf0775);
        
    
        var popup_25a56c2e4e264945ab6b8ebd9890a9bb = L.popup({"maxWidth": 2650});

        
            var i_frame_9e907aa7224d49a0b9c88eaccfa50df8 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Pa2luYXdhbiBHb2p1IFJ5dTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gMjMzNDU2OTc8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiBBdmVuaWRhIExhcyBBbcOpcmljYXMgMTctMTY8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwOi8vb2tpbmF3YW4tZ29qdS1yeXUtZ3VhdGVtYWxhLmNvbS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_25a56c2e4e264945ab6b8ebd9890a9bb.setContent(i_frame_9e907aa7224d49a0b9c88eaccfa50df8);
        

        marker_51b9c1a376fa46f49f6914be8001992f.bindPopup(popup_25a56c2e4e264945ab6b8ebd9890a9bb)
        ;

        
    
    
            marker_51b9c1a376fa46f49f6914be8001992f.bindTooltip(
                `<div>
                     Okinawan Goju Ryu
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0305898a1e2b4e45abb65876774445d6 = L.marker(
                [14.59021, -90.51264],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_7e8c91c659d2409f9f4da1c90b8126cf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0305898a1e2b4e45abb65876774445d6.setIcon(icon_7e8c91c659d2409f9f4da1c90b8126cf);
        
    
        var popup_898c99b45f0c49ffb00a7912d541b04b = L.popup({"maxWidth": 2650});

        
            var i_frame_a080bbbb23f9443a85ec4aa2d2962194 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5PTSBZb2dhPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsZWZvbm86PC9iPiAyMzMzNDMxMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2lvbjo8L2I+IDZ0YS4gQXZlbmlkYSAyMC00MiB6b25hIDEwPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cDovL3d3dy5vbXlvZ2FndC5jb20vaG9tZS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_898c99b45f0c49ffb00a7912d541b04b.setContent(i_frame_a080bbbb23f9443a85ec4aa2d2962194);
        

        marker_0305898a1e2b4e45abb65876774445d6.bindPopup(popup_898c99b45f0c49ffb00a7912d541b04b)
        ;

        
    
    
            marker_0305898a1e2b4e45abb65876774445d6.bindTooltip(
                `<div>
                     OM Yoga
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_b0f61f90a7514200ae0e45975e3cf221 = L.marker(
                [14.57965, -90.52022],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_60d209cfe55449239aceb2b8f2ee52df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_b0f61f90a7514200ae0e45975e3cf221.setIcon(icon_60d209cfe55449239aceb2b8f2ee52df);
        
    
        var popup_89aa5897042e461dac4b87d427fdd6eb = L.popup({"maxWidth": 2650});

        
            var i_frame_7fd6070b9ae44e3bbfedf21e84e8bb4b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5SaXRtbyB5IFNhYm9yIEd1YXRlbWFsYTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gNDgwMDIwMTU8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiA0YS4gYXZlbmlkYSwgMTYtMjQgem9uYSAxNDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vZXMtbGEuZmFjZWJvb2suY29tL3JpdG1veXNhYm9yZ3QvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_89aa5897042e461dac4b87d427fdd6eb.setContent(i_frame_7fd6070b9ae44e3bbfedf21e84e8bb4b);
        

        marker_b0f61f90a7514200ae0e45975e3cf221.bindPopup(popup_89aa5897042e461dac4b87d427fdd6eb)
        ;

        
    
    
            marker_b0f61f90a7514200ae0e45975e3cf221.bindTooltip(
                `<div>
                     Ritmo y Sabor Guatemala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1c0840a9f23d4dec98913b500752ea32 = L.marker(
                [14.579839999999999, -90.52389000000001],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_08ca0eb0e20646069d80dde1bd68bf66 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_1c0840a9f23d4dec98913b500752ea32.setIcon(icon_08ca0eb0e20646069d80dde1bd68bf66);
        
    
        var popup_07aa9e1beada4d2ca9aded7dd1471877 = L.popup({"maxWidth": 2650});

        
            var i_frame_007c6d4213c242839da94441ea5bff14 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5TYWxzYSBMYXRpbiBHdWF0ZW1hbGE8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWxlZm9ubzo8L2I+IDQyMTcyNTY3PC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjaW9uOjwvYj4gMTggY2FsbGUgMTUtNTEsIFpvbmEgMTMgQy5DLiBQYXNlbyBSZWFsPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+V2ViOjwvYj4gaHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1NhbHNhLUxhdGluLUd1YXRlbWFsYS0xNzgyNjg3MTkwNzgvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_07aa9e1beada4d2ca9aded7dd1471877.setContent(i_frame_007c6d4213c242839da94441ea5bff14);
        

        marker_1c0840a9f23d4dec98913b500752ea32.bindPopup(popup_07aa9e1beada4d2ca9aded7dd1471877)
        ;

        
    
    
            marker_1c0840a9f23d4dec98913b500752ea32.bindTooltip(
                `<div>
                     Salsa Latin Guatemala
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_624dfc61bd36447292aa8c4f53d2dbad = L.marker(
                [14.59405, -90.509],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_2b7c1314e98a44cdb8d9333c2a4457cb = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_624dfc61bd36447292aa8c4f53d2dbad.setIcon(icon_2b7c1314e98a44cdb8d9333c2a4457cb);
        
    
        var popup_59b37f8dd2574c4aae861182b19215cc = L.popup({"maxWidth": 2650});

        
            var i_frame_9a44a2da0b6f4c9f889ff04f50139dbb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5TZW5zZSBDcm9zc0ZpdDwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gMjM2NjU4MzY8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiA5YS4gYXZlbmlkYSAxNi0wMywgWm9uYSAxMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHA6Ly9zZW5zZWNyb3NzZml0LmNvbS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_59b37f8dd2574c4aae861182b19215cc.setContent(i_frame_9a44a2da0b6f4c9f889ff04f50139dbb);
        

        marker_624dfc61bd36447292aa8c4f53d2dbad.bindPopup(popup_59b37f8dd2574c4aae861182b19215cc)
        ;

        
    
    
            marker_624dfc61bd36447292aa8c4f53d2dbad.bindTooltip(
                `<div>
                     Sense CrossFit
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f23c30f19f334764a554a32b48eaa5df = L.marker(
                [14.594879999999998, -90.51553],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_d8e7cd047555419ea2e733100b1b8b2c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f23c30f19f334764a554a32b48eaa5df.setIcon(icon_d8e7cd047555419ea2e733100b1b8b2c);
        
    
        var popup_ec9b013070e84e9d9719b59dfe26a7b1 = L.popup({"maxWidth": 2650});

        
            var i_frame_16dbee65cbb94bf39c09505b82f40980 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5TbWFydCBGaXQgLSBMb3MgUHLDs2NlcmVzPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsZWZvbm86PC9iPiAwPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+RGlyZWNjaW9uOjwvYj4gICAzwqogQXZlbmlkYSAxNi01MiwgWi4xMCAtICBDZW50cm8gQ29tZXJjaWFsIExvcyBQcsOzY2VyZXM8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5zbWFydGZpdC5jb20uZ3QvPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_ec9b013070e84e9d9719b59dfe26a7b1.setContent(i_frame_16dbee65cbb94bf39c09505b82f40980);
        

        marker_f23c30f19f334764a554a32b48eaa5df.bindPopup(popup_ec9b013070e84e9d9719b59dfe26a7b1)
        ;

        
    
    
            marker_f23c30f19f334764a554a32b48eaa5df.bindTooltip(
                `<div>
                     Smart Fit - Los Próceres
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49a885bad07e493091fd86d9a06b25fc = L.marker(
                [14.581570000000001, -90.51629],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_53acd081eae644aa94700176abe7882a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_49a885bad07e493091fd86d9a06b25fc.setIcon(icon_53acd081eae644aa94700176abe7882a);
        
    
        var popup_41c054552f0441069310c746aa38d33a = L.popup({"maxWidth": 2650});

        
            var i_frame_430dae029c1d4f12907629bf50e2e154 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5TcG9ydGEgR3ltPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsZWZvbm86PC9iPiA2NjI1OTEwMDwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2lvbjo8L2I+IDEwYSBhdmVuaWRhIHkgMTIgY2FsbGUgem9uYSAxNC4gQy5DLiBMYSBOb3JpYTwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vc3BvcnRhLmNvbS5ndC88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_41c054552f0441069310c746aa38d33a.setContent(i_frame_430dae029c1d4f12907629bf50e2e154);
        

        marker_49a885bad07e493091fd86d9a06b25fc.bindPopup(popup_41c054552f0441069310c746aa38d33a)
        ;

        
    
    
            marker_49a885bad07e493091fd86d9a06b25fc.bindTooltip(
                `<div>
                     Sporta Gym
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_332a65038eeb45b2b333b9aad14cb7d0 = L.marker(
                [14.58956, -90.51906],
                {}
            ).addTo(map_db124c86554a4d5a9b7677128af5baef);
        
    
            var icon_a1dddf566c23485b939ab52a47fbab0b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_332a65038eeb45b2b333b9aad14cb7d0.setIcon(icon_a1dddf566c23485b939ab52a47fbab0b);
        
    
        var popup_809ebe7f9ce449deb4ec561f913e8e18 = L.popup({"maxWidth": 2650});

        
            var i_frame_634ba46f744747ab9eca7b1119bd1524 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5UaGUgRGFuY2UgRmFjdG9yeTwvYj48L2xhYmVsPiA8YnI+IDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgPHA+CiAgICAgICAgICAgICAgICAgICAgICAgIDxmb250IGZhY2U9IFZlcmRhbmEgc2l6ZSA9ICIxIj48bGFiZWw+PGI+IFRlbGVmb25vOjwvYj4gNjYzNDIyMzA8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npb246PC9iPiBMYXMgQW1lcmljYXM8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL2VzLWxhLmZhY2Vib29rLmNvbS9EYW5jZUZhY3RvcnlHVC88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="200" style="border:none !important;" height="100"></iframe>`)[0];
            popup_809ebe7f9ce449deb4ec561f913e8e18.setContent(i_frame_634ba46f744747ab9eca7b1119bd1524);
        

        marker_332a65038eeb45b2b333b9aad14cb7d0.bindPopup(popup_809ebe7f9ce449deb4ec561f913e8e18)
        ;

        
    
    
            marker_332a65038eeb45b2b333b9aad14cb7d0.bindTooltip(
                `<div>
                     The Dance Factory
                 </div>`,
                {"sticky": true}
            );
        
</script>