<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_35fd2f38a1fc4e43b963a50150887b6f {
                    position: relative;
                    width: 100.0%;
                    height: 70.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_35fd2f38a1fc4e43b963a50150887b6f" ></div>
        
</body>
<script>    
    
            var map_35fd2f38a1fc4e43b963a50150887b6f = L.map(
                "map_35fd2f38a1fc4e43b963a50150887b6f",
                {
                    center: [14.6624376, -90.5058132],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9646034c633b405bb8d6241ac66102b9 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_35fd2f38a1fc4e43b963a50150887b6f);
        
    
            var marker_852894ddcae2497ea17da53d9bfab934 = L.marker(
                [14.6624376, -90.5058132],
                {}
            ).addTo(map_35fd2f38a1fc4e43b963a50150887b6f);
        
    
            var icon_e462ea5a30b1439ba3fd4ca92a497315 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_852894ddcae2497ea17da53d9bfab934.setIcon(icon_e462ea5a30b1439ba3fd4ca92a497315);
        
    
            marker_852894ddcae2497ea17da53d9bfab934.bindTooltip(
                `<div>
                     Location you chose: zona 2 guatemala 
 Guatemala, Guatemala City
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_147c0465c0a748cda6f08f0a708a8350 = L.marker(
                [14.65151, -90.51018],
                {}
            ).addTo(map_35fd2f38a1fc4e43b963a50150887b6f);
        
    
            var icon_c6824c14169b410193c5249e7386fad3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_147c0465c0a748cda6f08f0a708a8350.setIcon(icon_c6824c14169b410193c5249e7386fad3);
        
    
        var popup_14a91170f5924644b053efdf5c27e130 = L.popup({"maxWidth": "100%"});

        
            var i_frame_fcb11bd4cdc64dbaa5e381ed65f8a78e = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5Fdm9sdXRpb24gR3ltPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjUwMzY4Njg8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gQ2FsbGUgTWFydMOtLCA4YSBBdiB6b25hIDI8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5mYWNlYm9vay5jb20vZXZvbHV0aW9uZW5lcmd5bS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczogPC9iPlBlc2FzPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICA=" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_14a91170f5924644b053efdf5c27e130.setContent(i_frame_fcb11bd4cdc64dbaa5e381ed65f8a78e);
        

        marker_147c0465c0a748cda6f08f0a708a8350.bindPopup(popup_14a91170f5924644b053efdf5c27e130)
        ;

        
    
    
            marker_147c0465c0a748cda6f08f0a708a8350.bindTooltip(
                `<div>
                     Evolution Gym
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bba01c1629724820ad1ae73834f92b37 = L.marker(
                [14.66075, -90.51011],
                {}
            ).addTo(map_35fd2f38a1fc4e43b963a50150887b6f);
        
    
            var icon_896a49413def446eaf84a8c6818bd3c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bba01c1629724820ad1ae73834f92b37.setIcon(icon_896a49413def446eaf84a8c6818bd3c4);
        
    
        var popup_0578229799274fe680e4f60f198c3e23 = L.popup({"maxWidth": "100%"});

        
            var i_frame_a1f2d4d575484477a2759504ff60cf5b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5GZWRlcmFjacOzbiBOYWNpb25hbCBEZSBCZWlzYm9sPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjI1NDExMTk8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gQXYgU2ltZW9uIENhw7FhcyBGaW5hbCBab25hIDI8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5mYWNlYm9vay5jb20vRmVkZWJlaXNHdWF0ZS88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczogPC9iPkJlaXNib2w8L2xhYmVsPgogICAgICAgICAgICAgICAgICAgICAgICA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgIA==" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_0578229799274fe680e4f60f198c3e23.setContent(i_frame_a1f2d4d575484477a2759504ff60cf5b);
        

        marker_bba01c1629724820ad1ae73834f92b37.bindPopup(popup_0578229799274fe680e4f60f198c3e23)
        ;

        
    
    
            marker_bba01c1629724820ad1ae73834f92b37.bindTooltip(
                `<div>
                     Federación Nacional De Beisbol
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8cbd0d3837a24851b8b94a49464a114c = L.marker(
                [14.64615, -90.50867],
                {}
            ).addTo(map_35fd2f38a1fc4e43b963a50150887b6f);
        
    
            var icon_d27f45c79621414ebaeb513660d11400 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8cbd0d3837a24851b8b94a49464a114c.setIcon(icon_d27f45c79621414ebaeb513660d11400);
        
    
        var popup_850d657a8463408fbe4480b3f4a2eefa = L.popup({"maxWidth": "100%"});

        
            var i_frame_cb7ca664740c461388eb446f05599df7 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5GdWxsIENvbnRhY3QgU3R1ZGlvPC9iPjwvbGFiZWw+IDxicj4gPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICA8cD4KICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZT0gVmVyZGFuYSBzaXplID0gIjEiPjxsYWJlbD48Yj4gVGVsw6lmb25vOjwvYj4gMjIzMjY1NzU8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5EaXJlY2Npw7NuOjwvYj4gMiBDYWxsZSAxMC0wNiBab25hIDE8L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5XZWI6PC9iPiBodHRwczovL3d3dy5mYWNlYm9vay5jb20vRnVsbENvbnRhY3RTdHVkaW8vPC9sYWJlbD4gPGJyPgogICAgICAgICAgICAgICAgICAgICAgICA8bGFiZWw+PGI+Q2F0ZWdvcsOtYXM6IDwvYj5QZXNhczwvbGFiZWw+CiAgICAgICAgICAgICAgICAgICAgICAgIDwvZm9udD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvcD4KICAgICAgICAgICAgICAgICAgICAgICAg" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_850d657a8463408fbe4480b3f4a2eefa.setContent(i_frame_cb7ca664740c461388eb446f05599df7);
        

        marker_8cbd0d3837a24851b8b94a49464a114c.bindPopup(popup_850d657a8463408fbe4480b3f4a2eefa)
        ;

        
    
    
            marker_8cbd0d3837a24851b8b94a49464a114c.bindTooltip(
                `<div>
                     Full Contact Studio
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7086a6ccedb849b2bd6181dab60f3a75 = L.marker(
                [14.649379999999999, -90.51292],
                {}
            ).addTo(map_35fd2f38a1fc4e43b963a50150887b6f);
        
    
            var icon_0276d127f14442808578b1ab6a667156 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_7086a6ccedb849b2bd6181dab60f3a75.setIcon(icon_0276d127f14442808578b1ab6a667156);
        
    
        var popup_dfa78d086e5a49f58fd64732432673d2 = L.popup({"maxWidth": "100%"});

        
            var i_frame_6f320a86afb24978a2fa482ec445029b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgPGZvbnQgZmFjZSA9IFZlcmRhbmEgc2l6ZSA9ICIxIj4gPGxhYmVsID48Yj5IZXJvZXMgQWNhZGVteSBHdWF0ZW1hbGE8L2I+PC9sYWJlbD4gPGJyPiA8L2ZvbnQ+CiAgICAgICAgICAgICAgICAgICAgICAgIDxwPgogICAgICAgICAgICAgICAgICAgICAgICA8Zm9udCBmYWNlPSBWZXJkYW5hIHNpemUgPSAiMSI+PGxhYmVsPjxiPiBUZWzDqWZvbm86PC9iPiA1MTMyMjUwMTwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPkRpcmVjY2nDs246PC9iPiA2YS4gYXZlbmlkYSAzLTM5IHpvbmEgMTwvbGFiZWw+IDxicj4KICAgICAgICAgICAgICAgICAgICAgICAgPGxhYmVsPjxiPldlYjo8L2I+IGh0dHBzOi8vZXMtbGEuZmFjZWJvb2suY29tL0hlcm9lc0NvbXBhbnlHVC88L2xhYmVsPiA8YnI+CiAgICAgICAgICAgICAgICAgICAgICAgIDxsYWJlbD48Yj5DYXRlZ29yw61hczogPC9iPkJhaWxlPC9sYWJlbD4KICAgICAgICAgICAgICAgICAgICAgICAgPC9mb250PgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICA=" width="225" style="border:none !important;" height="125"></iframe>`)[0];
            popup_dfa78d086e5a49f58fd64732432673d2.setContent(i_frame_6f320a86afb24978a2fa482ec445029b);
        

        marker_7086a6ccedb849b2bd6181dab60f3a75.bindPopup(popup_dfa78d086e5a49f58fd64732432673d2)
        ;

        
    
    
            marker_7086a6ccedb849b2bd6181dab60f3a75.bindTooltip(
                `<div>
                     Heroes Academy Guatemala
                 </div>`,
                {"sticky": true}
            );
        
</script>
{% block content %} {% endblock %}